<div class="message-block <%= exchange.message_author %>">
  <div class="avatar-author-date">
    <%if exchange.user.photo? %>
      <%= cl_image_tag exchange.user.photo.path, class: "pic"%>
    <% else %>
      <i class="fa fa-user author-avatar"></i>
    <% end %>
    <div class="author-and-date">
      <div class="message-sent"><%= exchange.created_at.strftime("%d/%m/%Y") %>
      </div>
      <div class="user-pseudo">
        <%= exchange.user.pseudo %>:
      </div>
    </div>
  </div>
  <div class="question-content">
    <%= simple_format(exchange.question) %>
  </div>
</div>
