<div class="container" id="new-user-session">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2>Première visite?</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
          <%= f.collection_radio_buttons :sex, [["man", 'Homme'] ,["woman", 'Femme']], :first, :last %>
          <%= f.input :date_of_birth, label:"Date de naissance", as: :date, start_year: Date.today.year - 90,
                                        end_year: Date.today.year - 12,
                                        placeholder: { year: 'Année', month: 'mois', day: 'jour' },
                                        order: [:day, :month, :year]  %>

            <%= f.input :pseudo, required: true, autofocus: true %>
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "C'est parti!" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
