
<div class="container">
  <div class="row dashboard">
    <div class="col-xs-12 col-md-3 low-padding">
      <div class="profile-details ">
        <div id="avatar">
          <% if current_user.photo? %>
            <%= cl_image_tag(current_user.photo.path, class: "seeder-picture-big")%>
          <% else %>
            <i class="fa fa-user-o text-center dropdown-toggle" aria-hidden="true" id="avatar-placeholder-img"></i>
          <% end %>
        </div>


        <h2><%= current_user.pseudo %></h2>
        <div class="tab edit-tab" data-target="#edit">
          <div class="edit-button hidden-xs">Power Seeder</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-9 low-padding">
      <div class="col-xs-12 col-md-10">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#public-profile">PROFIL PUBLIC</a></li>
            <li><a href="#personal-infos">INFOS PERSONNELLES</a></li>
        </ul>
        <div class="tab-content">
          <div id="public-profile" class="tab-pane fade in active">

            <div class="user-form">
              <%= simple_form_for @user do |f| %>
                <%= f.input :pseudo, label: "Pseudo" %>
                <div class="photo-update">
                    <div class="btn btn-danger choosePhoto"><%if @user.photo?%>
                        Changer de photo
                      <% else %>
                        Ajouter photo
                      <% end %>
                    </div>
                    <%= f.input :photo, as: :attachinary, label: false, class: "upload" %>
                </div>
                <div class="text-right">
                  <%= f.button :submit, value: "Enregistrer", class: "btn btn-primary", id: "update-user" %>
                </div>
              <% end %>
            </div>
          </div>
          <div id="personal-infos" class="tab-pane fade">
            <div class="user-form">
              <%= simple_form_for @user do |f| %>
                <div class="sex-attributes">
                  <div class="sex-label">Civilité</div>
                  <div class="sex-inputs">
                  <%= f.collection_radio_buttons :sex, [["man", 'Homme'] ,["woman", 'Femme']], :first, :last %>
                  </div>
                </div>
                <%= f.input :date_of_birth, label:"Naissance", as: :date,  start_year: Date.today.year - 90,
                                              end_year: Date.today.year - 12,
                                              order: [:day, :month, :year], :prompt => { :month => 'MM', :year => 'AAAA', :day => 'JJ' }  %>
                <%= f.input :first_name, label: "Prénom" %>
                <%= f.input :last_name, label: "Nom" %>
                <%= f.input :email, label: "Email" %>
                <%= f.input :address, label: "Adresse", placeholder: "64 rue de la Tour" %>

                <div class="text-right">
                  <%= f.button :submit, value: "Enregistrer", class: "btn btn-primary", id: "update-user" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


