
<div class="container">
  <div class="page-section">
    <div class="row dashboard">


      <div class="col-xs-12 tabs-info">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#public-profile">PROFIL PUBLIC</a></li>
            <li><a href="#personal-infos">INFOS PRIVEES</a></li>
        </ul>
        <div class="small-padding">
          <div class="tab-content">
            <div id="public-profile" class="tab-pane fade in active">

              <div class="user-form">
                <%= simple_form_for @user do |f| %>
                  <%= f.input :pseudo, label: "Pseudo" %>
                  <%= f.input :mini_bio, label: "Mini-bio", placeholder: "Présentez-vous à ceux qui consultent vos Seeds" %>
                  <div class="photo-update">
                      <div class="btn btn-danger choosePhoto"><%if @user.photo?%>
                          Changer de photo
                        <% else %>
                          Ajouter photo
                        <% end %>
                      </div>
                      <%= f.input :photo, as: :attachinary, label: false, class: "upload" %>
                  </div>
                  <div class="social-options">
                    <h4>Qui m'aime me suive!</h4>
                    <div class="icons-and-form">
                      <div class="social-group">
                        <div class="no-label">
                          <div class="written-label"><a href="#" class="fa fa-instagram"></a></div>
                          <div class="attached-inputs">
                            <%= f.input :insta, label: false, placeholder: "Vous trouver sur Instagram" %>
                          </div>
                        </div>
                        <div class="no-label">
                          <div class="written-label"><a href="#" class="fa fa-youtube"></a></div>
                          <div class="attached-inputs">
                            <%= f.input :youtube, label: false, placeholder: "Vous trouver sur Youtube" %>
                          </div>
                        </div>
                      </div>
                      <div class="social-group">
                        <div class="no-label">
                          <div class="written-label"><a href="#" class="fa fa-snapchat-ghost"></a></div>
                          <div class="attached-inputs">
                            <%= f.input :snap, label: false, placeholder: "Vous trouver sur Snapchat" %>
                          </div>
                        </div>
                        <div class="no-label">
                          <div class="written-label"><a href="#" class="fa fa-facebook"></a></div>
                          <div class="attached-inputs">
                            <%= f.input :facebook, label: false, placeholder: "Vous trouver sur Facebook" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <%= f.button :submit, value: "Enregistrer", class: "btn btn-primary", id: "update-user" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div id="personal-infos" class="tab-pane fade">
              <div class="user-form">
                <%= simple_form_for @user do |f| %>
                  <div class="no-label">
                    <div class="written-label">Civilité</div>
                    <div class="attached-inputs">
                    <%= f.collection_radio_buttons :sex, [["man", 'Homme'] ,["woman", 'Femme']], :first, :last %>
                    </div>
                  </div>
                  <%= f.input :date_of_birth, label:"Date de naissance", as: :date,  start_year: Date.today.year - 18,
                                                end_year: 1900,
                                                order: [:day, :month, :year], :prompt => { :month => 'Mois', :year => 'Année', :day => 'Jour' }, use_month_numbers: true  %>
                  <%= f.input :email, label: "Email" %>

                  <div class="text-right">
                    <%= f.button :submit, value: "Enregistrer", class: "btn btn-primary", id: "update-user" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


