
<div class="container-fluid">
  <div class="row dashboard">
    <div class="col-xs-12 col-md-4">
      <div class="profile-details ">
        <div id="avatar">
          <% if current_user.photo? %>
            <%= cl_image_tag(current_user.photo.path, width: 150, height: 150, radius: :max, crop: :fill)%>
          <% else %>
            <%= image_tag "user.jpg", id: "avatar-placeholder-img"%>
          <% end %>
        </div>

        <h2><%= current_user.pseudo %></h2>
        <div class="tab edit-tab" data-target="#edit">
          <p class="edit-button">Editer mes infos</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">
      <div class="view">
      <!-- Modifier mon profil -->
          <div class="tab-content" id="edit">
            <div class="view-header">
              <h1>Mes infos</h1>
            </div>
            <div class="view-body">
              <div class="user-form">
                <%= simple_form_for current_user do |f| %>
                  <%= f.input :pseudo, label: "Pseudo" %>
                  <%= f.input :first_name, label: "Prénom" %>
                  <%= f.input :last_name, label: "Nom" %>
                  <%= f.input :email, label: "Email" %>
                  <%= f.input :photo, as: :attachinary %>
                  <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

