
<div class="container">
  <div class="page-section">
    <div class="row dashboard">


      <div class="col-xs-12 tabs-info">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#public-profile">PROFIL PUBLIC</a></li>
            <li><a data-target="#personal-infos">INFOS PRIVEES</a></li>
        </ul>
        <div class="small-padding">
          <div class="tab-content">
            <div id="public-profile" class="tab-pane fade in active">

              <div class="user-form">
                <%= simple_form_for @user do |f| %>
                  <div class="primary-infos">
                    <div class="photo-update">
                        <%= f.input :photo, as: :attachinary, label: false, class: "upload" %>
                        <% if !@user.photo? %>
                          <div class="no-photo"></div>
                        <% end %>
                        <div class="choosePhoto"><%if @user.photo?%>
                            Changer de photo
                          <% else %>
                            Ajouter photo
                          <% end %>
                        </div>
                    </div>
                    <div class="pseudo-mini-bio">
                      <%= f.input :pseudo, label: false, placeholder: "Pseudo" %>
                      <%= f.input :mini_bio, label: false, placeholder: "Mini-bio" %>
                    </div>
                  </div>
                  <div class="social-options">
                    <h4>Qui m'aime me suive!</h4>
                    <div class="icons-and-form">
                      <div class="social-group">
                        <div class="no-label">
                          <div class="written-label"><%= image_tag "instagram.png" %></div>
                          <div class="attached-inputs">
                            <%= f.input :insta, label: false, placeholder: "Vous trouver sur Instagram" %>
                          </div>
                        </div>
                        <div class="no-label">
                          <div class="written-label"><%= image_tag "youtube.png" %></div>
                          <div class="attached-inputs">
                            <%= f.input :youtube, label: false, placeholder: "Vous trouver sur Youtube" %>
                          </div>
                        </div>
                      </div>
                      <div class="social-group">
                        <div class="no-label">
                          <div class="written-label"><%= image_tag "snapchat.png" %></div>
                          <div class="attached-inputs">
                            <%= f.input :snap, label: false, placeholder: "Vous trouver sur Snapchat" %>
                          </div>
                        </div>
                        <div class="no-label">
                          <div class="written-label"><%= image_tag "facebook.png" %></div>
                          <div class="attached-inputs">
                            <%= f.input :facebook, label: false, placeholder: "Vous trouver sur Facebook" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <%= f.button :submit, value: "Enregistrer", class: "btn  seedlap", id: "update-user" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div id="personal-infos" class="tab-pane fade">
              <div class="user-form">
                <%= simple_form_for @user, html: { id: 'update-private'} do |f| %>
                  <div class="no-label">
                    <div class="written-label">Civilité</div>
                    <div class="attached-inputs">
                    <%= f.collection_radio_buttons :sex, [["man", 'Homme'] ,["woman", 'Femme']], :first, :last %>
                    </div>
                  </div>
                  <%= f.input :date_of_birth, label:"Date de naissance", as: :date,  start_year: Date.today.year - 18,
                                                end_year: 1900,
                                                order: [:day, :month, :year], :prompt => { :month => 'Mois', :year => 'Année', :day => 'Jour' }, use_month_numbers: true  %>
                  <%= f.input :email, label: "Email" %>
                  <%= f.button :submit, value: "Enregistrer", class: "btn seedlap", id: "submit-update-private" %>
                <% end %>
                <%= simple_form_for @addresses, :url => update_address_user_path(@user.id), :method => :patch do |f| %>
                  <h3>Livraison</h3>
                  <%= f.input :full_name, class: "input-group-field", label: false %>
                  <%= f.input :street, class: "input-group-field", label: false %>

                  <%= f.input :zip_code, class: "input-group-field", label: false %>
                  <%= f.input :city, class: "input-group-field", label: false %>

                  <%= f.input :address_complement, class: "input-group-field", label: false, placeholder: "Autres instructions de livraison: Digicode, Batiment, Société " %>
                  <%= f.input :phone_number, class: "input-group-field", label: false, placeholder: "Vous joindre par téléphone" %>
                  <%= f.button :submit, value: "Enregistrer", class: "btn update-delivery-infos" %>
                <% end %>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>
                    <%= f.input :current_password, label: "Mot de passe actuel", required: true %>
                    <%= f.input :password, autocomplete: "off", hint: "minimum 6 carractères", label: "Nouveau mot de passe", required: false %>
                    <%= f.input :password_confirmation, label: "Confirmation", hint: "confirmer le nouveau mot de passe", required: false %>

                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Update" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


