<% @categories.each do |category| %>
  <%= link_to last_day_path(category: category) do %>
      <div class="sub-title <%=category.id%> <%='inactive' if category == @filter %>">
        <%= image_tag "#{category.name.downcase.gsub(' ', '_').gsub('é', 'e')}.png", class: "categories-icon" %>
        <div class="name-and-count">
          <p><%= category.name%></p>
        </div>
      </div>
  <% end %>
<% end %>
