<div class="container-fluid" id="navbar">
  <div class="row navbar">
    <div class="col-xs-1 navbar-wagon-brand">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "img-rounded" %>
      <% end %>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-8">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= link_to "mes seedoaks", "#", class: "btn btn-default seedoak" %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "index", "#", class: "btn btn-default seedoak" %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "about us", "#", class: "btn btn-default seedoak" %>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1 col-lg-offset-0 col-lg-3 text-right account">
      <% if user_signed_in? %>
        <%= link_to "(your account)", user_path(current_user), class: "link-dashboard btn btn-default" %>
        <label class="checkbox-inline ">
          <input type="checkbox" checked disabled data-toggle="toggle" data-on="connected">
        </label>
      <% else %>
        <%= link_to "create an account", new_user_session_path, class: "link-dashboard btn btn-success" %>
        <label class="checkbox-inline ">
          <input type="checkbox" disabled data-toggle="toggle" data-off="disconnect">
        </label>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :header do %>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<% end %>

<%= content_for :after_js do %>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<% end %>
