<!-- navbar -->
<div class="container-fluid" id="navbar">
  <div class="row navbar">
    <div class="hidden-xs hidden-sm col-sm-6 col-md-8 col-lg-8">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= link_to "Seeds", seeds_path, class: "btn btn-default seedoak" %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "Le concept", "#", class: "btn btn-default seedoak" %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "Qui sommes-nous?", "#", class: "btn btn-default seedoak" %>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1 col-lg-offset-2 account text-center">
      <% if user_signed_in? %>
        <label class="checkbox-inline log-out">
          <input type="checkbox" checked data-toggle="toggle" data-on="Log Out" data-off="Really?">
        </label>
        <div id="avatar-navbar">
          <%= link_to user_path(current_user), class: "link-dashboard" do %>
            <% if current_user.photo? %>
                <%= cl_image_tag current_user.photo.path, crop: :fill  %>
            <% else %>
              <%= image_tag "user.jpg", class: "img-circle"%>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <label class="checkbox-inline log-in">
          <input type="checkbox" data-toggle="toggle" data-off="Log In" data-on="redirect..">
        </label>
      <% end %>
    </div>


    <!-- modal -->
    <div class="modal fade" id="LogOutModal" tabindex="-1" role="dialog" aria-labelledby="LogOutModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="LogOutModalTitle">Are you sure ?</h4>
          </div>
          <div class="modal-body">
            Do you really want to disconnect ?
          </div>
          <div class="modal-footer-disconnect">
            <button type="button" class="btn btn-default" data-dismiss="modal">I stay</button>
            <%= link_to "See you", destroy_user_session_path, method: "delete", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
  </div>
</div>
<!-- navbar end -->

<%= content_for :header do %>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<% end %>

<%= content_for :after_js do %>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
  $(document).ready(function() {
    $(".checkbox-inline.log-out").on('change', function(e) {
      $('#LogOutModal').modal();

      $('#LogOutModal').on('hidden.bs.modal', function (e) {
        $(".checkbox-inline>.toggle").removeClass("off")
        $(".checkbox-inline>.toggle").removeClass("default")
        $(".checkbox-inline>.toggle").addClass("primary")
      });
    });
    $(".checkbox-inline.log-in").on('change', function(e) {
      window.location.replace("<%= new_user_session_path %>")
    });
  });
</script>
<% end %>
