<div class="navbar-container">
  <div class="navbar">

    <!-- Logo -->
    <%= link_to seeds_path do %>
      <div class="logo-box">
        <div id="logo-text">Seedlap</div>
        <span class="glyphicon glyphicon-leaf", id="logo-icon"></span>
      </div>
    <% end %>


    <!-- Right Navigation -->
    <% if user_signed_in? %>
      <div class="hidden-xs">
        <div class="navbar-right">
          <div class="new-seed">
            <%= link_to new_seed_path do %>
              <i class="fa fa-plus" aria-hidden="true">
              </i>
            <% end %>
            <span class="tooltiptext">Poster un produit</span>
          </div>

          <div class="my-picks">
            <%= render "shared/pending-picks" %>
            <span class="tooltiptext">Mes picks</span>
          </div>

          <div class="user-menu">
            <div class="dropdown">
              <% if current_user.photo? %>
                <%= cl_image_tag current_user.photo.path, class: "dropdown-toggle", id: "dropdown-photo", "data-toggle" => "dropdown" %>
              <% else %>
                <i class="fa fa-user-o dropdown-toggle" aria-hidden="true" id="dropdown-icon", data-toggle="dropdown"></i>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnecter") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

          <div class="user-menu">
            <div class="dropdown">
                <i class="glyphicon glyphicon-option-vertical avatar dropdown-toggle" aria-hidden="true" id="dropdown-icon-vertical", data-toggle="dropdown"></i>
              <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                <li>
                  <%= link_to faq_path do %>
                    <div class="drop-item">
                      <i class="fa fa-question-circle"></i>
                      <p>Aide</p>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to team_path do %>
                    <div class="drop-item">
                      <i class="fa fa-envelope"></i>
                      <p>Contact</p>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <% if policy(Seed).admin? %>
            <%= link_to admin_path do %>
              <i class="fa fa-user-plus" aria-hidden="true">Admin</i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="hidden-sm hidden-md hidden-lg">
        <div class="navbar-right">
          <div class="user-menu">
            <div class="dropdown">
              <% if current_user.photo? %>
                <%= cl_image_tag current_user.photo.path, class: "dropdown-toggle", id: "dropdown-photo", "data-toggle" => "dropdown" %>
              <% else %>
                <i class="fa fa-user-o dropdown-toggle" aria-hidden="true" id="dropdown-icon", data-toggle="dropdown"></i>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_seed_path do %>
                    <i class="fa fa-plus" aria-hidden="true"></i> <%= t(".new_seed_xs", default: "Poster") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to my_picks_path do %>
                    <i class="fa fa-hand-lizard-o"></i> <%= t(".my_picks_xs", default: "Mes picks") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnecter") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <% if policy(Seed).admin? %>
            <%= link_to admin_path do %>
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <% else %>
        <div class="navbar-right">
          <%= link_to  new_user_session_path, class: "sign-links" do%>
            Me connecter
          <% end %>
          <%= link_to new_user_registration_path, class: "sign-links" do %>
            Créer un compte
          <% end %>
        </div>

    <% end %>
  </div>
</div>
<div class="sub-container">
  <div class="sub-nav">
    <div class="item">Tous</div>
    <div class="item">Tendances</div>
    <div class="item">Récents</div>
    <div class="item">Dernier jour</div>
    <div class="item">Hasard</div>
  </div>
</div>
