<% @categories.each do |category| %>
  <%= link_to popular_path(category: category.id) do %>
      <div class="sub-title <%=category.id%> <%='inactive' if category.id.to_s == @filter %>">
        <%= image_tag "#{category.name.downcase.gsub(' ', '_')}.jpg", class: "categories-icon" %>
        <div class="name-and-count">
          <p><%= category.name%></p>
        </div>
      </div>
  <% end %>
<% end %>
