    <div class="forgot-modal">
  <!-- Modal -->
    <div class="modal fade" id="lostModal" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Mot de passe oublié?</h4>

          </div>
          <div class="modal-body">
            <p>Saisissez l'adresse mail que vous nous avez indiquée lors de votre inscription
afin de recevoir un lien pour choisir un nouveau mot de passe.</p>
            <div class="pick-modal">
              <%= render "devise/passwords/reset-password"%>
            </div>
          </div>
          <div class="modal-footer hidden">
            <button type="button" id="close-modal-lost" class="btn btn-default text-center" data-dismiss="modal"></button>
          </div>
        </div>

      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<div class="container-home">
  <div class="nav-and-banner">
    <%= render "pages/unauthentified-navbar" %>
    <div class="banner-container">
      <h1 class="moto-centered">
        <div>Vous aimez une nouveauté ?</div>
        <div>Décidez de son prix</div>
      </h1>
      <div class="concept">
        <p>Seedlap est la première plateforme ou les clients
        décident des prix des produits qu'ils veulent acheter
        </p>
        <%= link_to seeds_path do %>
          <div class="btn join-us-now">
              Découvrir
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag "pick-horizontal.png", id: "pick-image" %>
  </div>
  <div>
    <div class="boucing-icon text-right" style="height: 0">
      <a href="#share">
        <i class="fa fa-arrow-circle-down bounce" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="features-container">
    <div class="row"  id="share">
      <div class="col-xs-12 img-container hidden-md hidden-lg">
        <%= cl_image_tag("cry_qcjo50.gif", id: "cry-xs") %>
      </div>
      <div class="col-xs-12 col-md-7 explanation-text">
        <h3>"J’aime ce produit, mais 90€…"</h3>
        <p>Vous découvrez un super produit ou service mais renoncez à en faire l'acquisition à cause de son prix.</p>
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <h4>Share</h4>
          </div>
          <p>Présentez-nous ce produit. Comme-vous, certaines personnes aiment le produit que vous avez présenté mais ne sont pas prêtes à payer le prix demandé.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 img-container hidden-xs hidden-sm">
      <%= cl_image_tag("cry_qcjo50.gif", id: "cry") %>
      </div>
    </div>
    <div class="row" id="pick">
      <div class="col-xs-12 col-md-4 col-md-offset-1 img-container">
        <%= cl_image_tag("go_ftlnqa.gif", id: "go") %>
      </div>
      <div class="col-xs-12 col-md-7 explanation-text">
        <h3>"Pour 75€ je fonce."</h3>
        <p>Chaque personne intéressée par un produit a sept jours pour manifester sa volonté d'achat.</p>
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            <h4>Pick</h4>
          </div>
          <p>
          "Pickez" un produit qui vous plait en donnant le prix que vous êtes prêt à payer pour en faire l'acquisition. Pas besoin d'être stratégique, pour maximiser vos chances de succès, soyez le plus sincère possible.
          </p>
          <br>En savoir plus
        </div>
      </div>
    </div>
    <div  class= "row" id="save">
      <div class="col-xs-12 img-container hidden-md hidden-lg">
        <%= cl_image_tag("victory_canznv.gif", id: "victory-xs") %>
      </div>
      <div class="col-xs-12 col-md-7 explanation-text">
        <h3>"Je ne paye plus que 70€ !"</h3>
        <p>Vous proposiez d'acheter à 75€, Seedlap calcule un prix optimal à 70€, vous ne payez que 70€.</p>
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-money" aria-hidden="true"></i>
            <h4>Win-Win</h4>
          </div>
            <p>Si votre pick est supérieur (ou égal) au prix optimal calculé par Seedlap, vous ne payez que le prix optimal.
            </p>
          <br>Comment ça marche
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 img-container hidden-xs hidden-sm">
        <%= cl_image_tag("victory_canznv.gif", id: "victory") %>
      </div>
    </div>
  </div>

  <div class="home-blue-background-bottom">
    <div class="how-it-works">
      <div class="row">
        <div class="col-xs-12  col-md-6 col-md-offset-3 how-it-works-head">
          <h3>Comment ça marche</h3>
          <p>Sur la base de tous les picks recueillis pour un produit, l'algorithme de Seedlap détermine le prix de vente le plus juste qui saura satisfaire le vendeur et ses clients</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 pick-section">
          Vous aviez pické le produit à 75€ et le prix optimal a été fixé à 70€:
          <br>Vous ne payez que 70€.
        </div>
        <div class="col-xs-12 col-md-4 pick-section">
          Vous aviez pické le produit à 75€ et le prix optimal a été fixé à 80€:
          <br>La proposition que vous avez faite n'est pas profitable pour le vendeur.
          <br>Nous vous remboursons intégralement, mais vous ne profitez pas du deal.
        </div>
        <div class="col-xs-12 col-md-4 pick-section">
          Campagne échouée
          <br>Nous vous remboursons intégralement. Nous avons tenté de démontrer au vendeur que grâce à vous il pouvait augmenter sa rentabilité, mais celui-ci ne souhaite pas modifier son prix
        </div>
      </div>
    </div>
  </div>
</div>











