
<div class="forgot-modal">
<!-- Modal -->
  <div class="modal fade" id="lostModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mot de passe oublié ?</h4>
        </div>
        <div class="modal-body">
          <p id="forgot-p">Saisissez <b>l'adresse email</b> que vous nous avez indiquée lors de votre inscription.
          <br>Nous allons vous envoyer un lien pour choisir un nouveau mot de passe.</p>
          <div class="pick-modal">
            <%= render "devise/passwords/reset-password"%>
          </div>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal-lost" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

<div class="container-home">
  <%= render 'cookies_eu/consent_banner' %>
  <div class="nav-and-banner" style="background-image: url('https://res.cloudinary.com/dlddnk3pr/image/upload/v1531593116/tags_n0uqhz.jpg')">
    <header class="header-home">
        <div class="logo-and-log">
          <%= image_tag "logo.png", id: "logo" %>
          <div class="right-links">
            <% if user_signed_in? %>
              <%= link_to "CONNEXION", seeds_path %>
            <% else %>
              <div class="hidden-xs hidden-sm connect-button">
                CONNEXION
              </div>
              <div class="connexion-xs hidden-md hidden-lg">
                <%= link_to new_user_session_path do%>
                  CONNEXION
                <% end %>
              </div>
            <% end %>
            <div class="log-in-home hidden">
              <%= render "devise/sessions/login" %>
            </div>
          </div>
        </div>
      </header>
    <div class="banner-container">
      <div class="banner-content">
        <h2>Votre pick à l'édifice</h2>
        <div class="concept">
          <p class="hidden-xs">Décidez du prix que vous êtes prêt à payer
          <br>pour les nouveautés qui vous plaisent
          </p>
          <p class= "hidden-sm hidden-md hidden-lg hidden-xl">Décidez du prix que vous êtes prêt à payer pour les nouveautés qui vous plaisent
          </p>
        </div>
        <p class="promise hidden-xs">
          Bénéficiez en retour de la meilleure remise possible
       </p>
       <p class="promise hidden-sm hidden-md hidden-lg hidden-xl">
          Bénéficiez en retour
          <br>de la meilleure remise possible
       </p>
        <div class="cta-links">
          <a href="#features-container">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to seeds_path, class:"btn-orange cta-link" do %>
            Découvrir
          <% end %>
        </div>
      </div>
    </div>

  </div>


  <div id="features-container">
    <div class="icon-and-text" id="first">
      <div class="half top">
        <%= image_tag "number-1.png", class: "feature-images"  %>
        <h3 class="quote">"Qui comme moi aime ce produit ?"</h3>
        <div class="quote-text">Vous <b>aimez un produit</b> et pensez qu'il pourrait plaire à d'autres membres de la communauté Pickalgo ?
        </div>
      </div>
      <div class="half">
        <%= image_tag "share.png", class: "action-image" %>
        <div class="quote-text">Présentez-nous ce produit. Nous avons tous une <b>opinion différente du prix juste</b> à payer pour celui-ci</div>
      </div>
    </div>
    <div class="icon-and-text" id="second">
      <div class="half top">
        <%= image_tag "number-2.png", class: "feature-images"  %>
        <h3 class="quote">-"À 80 € j'achète"<br>-"À 90 € j'achète"</h3>
        <div class="quote-text">Quel prix trouvez-vous juste de payer pour faire l'acquisition du produit? Faites votre proposition d'achat <b>selon votre ressenti</b></div>
      </div>
      <div class="half">
        <%= image_tag "tag.png", class: "action-image" %>
        <div class="quote-text">Que votre prix soit plus haut ou plus bas que le prix actuel, le deal proposé sera toujours <b>inférieur au prix actuel</b></div>
      </div>
    </div>
    <div class="icon-and-text" id="third">
      <div class="half top">
        <%= image_tag "number-3.png", class: "feature-images"  %>
        <h3 class="quote">"J'achète finalement à 70 €"</h3>
        <div class="quote-text">
          Vos propositions (quantités et valeurs) aident le vendeur à calculer <b>le prix le plus judicieux</b> qu'il doit adopter
        </div>
      </div>
      <div class="half">
        <%= image_tag "like.png", class: "action-image" %>
        <div class="quote-text">
          Elles permettent également de calculer <b>la meilleure remise à vous accorder</b>
          <br><a href="#home-blue-background">
              <div class="go-to-how-it-works">Comment ça marche ?</div>
            </a>
        </div>
      </div>
    </div>
  </div>

  <div id="home-blue-background">
    <div class="how-it-works">
      <h3>Quel prix permet au plus grand nombre d'obtenir le produit et compense la remise accordée par une augmentation des ventes ?</h3>
      <div class="steps">
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "abc-1.png", class: "action-image" %>
          <div class="step-title">Rassembler</div>
          <div class="step-text">
            Nous collectons pendant 7 jours les propositions d'achat des personnes intéressées par le même produit
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "analyze-1.png", class: "action-image" %>
          <div class="step-title">Analyser</div>
          <div class="step-text">
            A partir du nombre de ces propositions, nous calculons la meilleure remise qu'il est possible d'accorder aux acheteurs
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "finalize-1.png", class: "action-image" %>
          <div class="step-title">Finaliser</div>
          <div class="step-text">
            Si le prix que vous aviez proposé est suppérieur au prix minimal auquel le produit peut être vendu, vous remportez le deal !
          </div>
        </div>
      </div>
      <div class="conclusion-box">
        <h4 class="conclusion-title">
           Exemple :
        </h4>
        <div class="yes-no">
          <div class="outcome-and-text">
            <h5 class="outcome">"C'est gagné !"</h5>
            <ul style="padding-left: 0">
              <li>Vous acceptiez de payer le produit 160 €</li>
              <li>Le prix minimal est de 150 €</li>
              <li>Vous obtenez le produit pour 150 €</li>
            </ul>
          </div>
          <div class="outcome-and-text">
            <h5 class="outcome">"Rien de perdu"</h5>
            <ul style="padding-left: 0">
              <li>Vous acceptiez de payer le produit 145 €</li>
              <li>Le prix minimal est de 150 €</li>
              <li>Vous ne pouvez pas profiter du deal</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="testimonies-container">
      <div class="testimony-box">
        <h2>
          <span>Pourquoi Pickalgo ?</span>
        </h2>

        <div class="testimonies">
          <div class="testimony">
            <%= cl_image_tag @jorge.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jorge, founder @Pickalgo</h4>
            <div class="testimony-text">
              "Aider le vendeur à trouver le prix qui satisfera au mieux ses clients et ses marges"
              <%= link_to "#firstTestimony", data: { toggle: "modal" } do%>
                <div class="expant-testimony">En savoir +</div>
              <% end %>
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @jenny.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jenny, founder <a href="https://petitvoyou.com" target="_blank">@PetitVoyou</a></h4>
            <div class="testimony-text">
              "J'aurais vraiment aimé connaitre Pickalgo lorsque j'ai lancé ma marque !"
              <%= link_to "#secondTestimony", data: { toggle: "modal" } do%>
                <div class="expant-testimony">En savoir +</div>
              <% end %>
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @last.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Mr P, communauté @Pickalgo </h4>
            <div class="testimony-text">
              "Concept super original et malin, permet de découvrir et faire découvrir de vraies pépites."
            </div>
          </div>
        </div>
        <%= link_to seeds_path do %>
          <div class="cta">
            <div class="btn-orange">Découvrir</div>
          </div>
        <% end %>
      </div>
      <%= render 'testimony' %>
    </div>
    <%= render 'shared/footer' %>
  </div>

</div>












