
<div class="forgot-modal">
<!-- Modal -->
  <div class="modal fade" id="lostModal" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mot de passe oublié?</h4>
        </div>
        <div class="modal-body">
          <p>Saisissez l'adresse mail que vous nous avez indiquée lors de votre inscription
afin de recevoir un lien pour choisir un nouveau mot de passe.</p>
          <div class="pick-modal">
            <%= render "devise/passwords/reset-password"%>
          </div>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal-lost" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

<div class="container-home">
  <%= render 'cookies_eu/consent_banner' %>
  <div class="nav-and-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.7) 50%),
         url('https://res.cloudinary.com/dlddnk3pr/image/upload/v1520011589/souhaiter_h0suob.jpg')">
    <header class="header-home">
        <div class="logo-and-log">
          <div class="logo-box">
            <div id="logo-home">Neoju</div>
            <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
          </div>
          <div class="right-links">
            <div class="hidden-xs hidden-sm connect-button">
              CONNEXION
            </div>
            <div class="connexion-xs hidden-md hidden-lg">
              <%= link_to new_user_session_path do%>
                CONNEXION
              <% end %>
            </div>
            <div class="log-in-home hidden">
              <%= render "devise/sessions/login" %>
            </div>
          </div>
        </div>
      </header>
    <div class="banner-container">
      <h1 class="moto">
        Buy or Goodbye ?
      </h1>
      <h2>Nous facilitons vos décisions d'achat</h2>
      <div class="concept">
        <p>Vous aimez les nouveautés mais hésitez parfois à acheter à cause du prix ? <br>Ici, décidez du prix que vous êtes prêt à payer pour les nouveautés qui vous plaisent.
          <br>N’achetez que si vous obtenez satistisfaction
        </p>
      </div>
      <div class="cta-links">
        <a href="#features-container">
          <div class="go-to">Concept</div>
        </a>
        <%= link_to seeds_path, class:"cta-link" do %>
          Découvrir
        <% end %>
      </div>
    </div>

  </div>


  <div id="features-container">
    <div class="icon-and-text" id="first">
      <div class="half top">
        <%= image_tag "number-1.png", class: "feature-images"  %>
        <h3 class="quote">"J'aime ce produit, mais 190 €…"</h3>
        <div class="quote-text">Vous aimez ce produit tout beau tout nouveau mais hésitez à l'acheter à cause de son prix</div>
      </div>
      <div class="half">
        <%= image_tag "medal.png", class: "action-image" %>
        <div class="quote-text">Présentez-nous ce produit. Tout comme vous certaines personnes hésitent à payer le prix demandé.</div>
      </div>
    </div>
    <div class="icon-and-text" id="second">
      <div class="half top">
        <%= image_tag "number-2.png", class: "feature-images"  %>
        <h3 class="quote">"Pour 160 € je fonce."</h3>
        <div class="quote-text">Chaque personne intéressée par un produit a sept jours pour manifester sa volonté d'achat.</div>
      </div>
      <div class="half">
        <%= image_tag "medal.png", class: "action-image" %>
        <div class="quote-text">Fixez votre objectif d'achat: Quel prix êtes-vous personnellement prêt à payer pour en faire l'acquisition ?</div>
      </div>
    </div>
    <div class="icon-and-text" id="third">
      <div class="half top">
        <%= image_tag "number-3.png", class: "feature-images"  %>
        <h3 class="quote">"J'achète finalement à 150 € !"</h3>
        <div class="quote-text">
          Vous proposiez de payer 160 € mais Neoju calcule un prix optimal à 150 €, vous ne payez que 150 €.
        </div>
      </div>
      <div class="half">
        <%= image_tag "medal.png", class: "action-image" %>
        <div class="quote-text">
          Sur Neoju vous bénéficiez toujours du meilleur prix possible.
          <br><a href="#home-blue-background">
              <div class="go-to-how-it-works">Comment ça marche ?</div>
            </a>
        </div>
      </div>
    </div>
  </div>

  <div id="home-blue-background">
    <div class="how-it-works">
      <h3 class="how-it-works-title">Comment ça marche</h3>
      <p>
        Neoju détermine quel prix permet au vendeur de compenser la remise que vous lui demandez par une augmentation de ses ventes.
      </p>
      <div class="steps">
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "medal.png", class: "action-image" %>
          <div class="step-title">Rassembler</div>
          <div class="step-text">
            Lorsqu'un produit est posté, nous collectons pendant 7 jours les propositions d'achat des personnes intéressées par celui-ci.
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "medal.png", class: "action-image" %>
          <div class="step-title">Analyser</div>
          <div class="step-text">
            Nous calculons le prix optimal qui permet aux clients de bénéficier du meilleur prix possible tout en maintenant la rentabilité du vendeur.
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "medal.png", class: "action-image" %>
          <div class="step-title">Finaliser</div>
          <div class="step-text">
            Buy or Goodbye.
            <br>Au bout de 7 jours vous êtes fixés: vous achetez au meilleur prix, ou renoncez sans regret.
          </div>
        </div>
      </div>
      <div class="conclusion-box">
        <h4 class="conclusion-title">
           Plus d'hésitation :
        </h4>
        <div class="yes-no">
          <div class="outcome-and-text">
            <h5 class="outcome">"J'achète"</h5>
            <ul style="padding-left: 0">
              <li>Vous acceptiez de payer le produit 160 €</li>
              <li>Le prix Neoju est de 150 €</li>
              <li>Vous ne payez plus que 150 €</li>
            </ul>
          </div>
          <div class="outcome-and-text">
            <h5 class="outcome">"Je renonce"</h5>
            <ul style="padding-left: 0">
              <li>Vous acceptiez de payer le produit 145 €</li>
              <li>Le prix Neoju est de 150 €</li>
              <li>Renoncez à acheter ce produit</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="testimony-box">
      <h2>
        <span>Témoignages</span>
      </h2>
      <div class="testimonies">
        <div class="testimony">
          <%= cl_image_tag @jorge.photo.path, class: "user-photo" %>
          <h4 class="testimony-title">"Le mot du CEO"</h4>
          <div class="testimony-text">
            Il m'arrive souvent de renoncer à acheter un produit que je trouve cool à cause de son prix. Il m'arrive aussi fréquemment de payer un prix que je juge trop élevé, ce qui au final terni mon expérience d'achat et d'utilisation.
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag @onur.photo.path, class: "user-photo" %>
          <h4 class="testimony-title">"Franchement top"</h4>
          <div class="testimony-text">
            Concept super intelligent, facilite la découverte de vraies pépites et permet de se les procurer au prix idéal. Si en plus tout le monde est gagnant...
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag @last.photo.path, class: "user-photo" %>
          <h4 class="testimony-title">"Grrrrr"</h4>
          <div class="testimony-text">
            Who let the dogs out ?
          </div>
        </div>
      </div>
      <%= link_to seeds_path do %>
        <div class="cta">
          <div class="btn">A vous d'essayer</div>
        </div>
      <% end %>
    </div>
    <%= render 'shared/footer' %>

  </div>
</div>











