<div class="container-home">
  <div class="nav-and-banner">
    <%= render "pages/unauthentified-navbar" %>
    <div class="banner-container">
      <h1 class="moto-centered">
        <div>Vous aimez une nouveauté ?</div>
        <div>Décidez de son prix</div>
      </h1>
      <div class="concept">
        <p>Seedlap est la première plateforme ou les clients
        décident des prix des produits qu'ils veulent acheter
        </p>
        <%= link_to seeds_path do %>
          <div class="btn join-us-now">
              Découvrir
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="boucing-icon text-right">
      <a href="#share">
        <i class="fa fa-arrow-circle-down bounce" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="features">
    <div class="all-features"  id="share">
      <div class="image-and-explanation">
        <div class="explanation-text-problem">
          <h3>"J’aime ce produit, mais 90€…"</h3>
          <p>Me voilà découvrant un super produit ou service mais y rennonçant à en faire l'acquisition à cause de son prix.</p>
          <div class="icon-header-body">
            <div class="icon-header">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
              <h4>Share</h4>
            </div>
            <p>Partagez vos meilleures découvertes avec nous, on a une idée qui va rendre tout le monde heureux.
            </p>
          </div>
        </div>
        <%= image_tag "sad-puppy.png", id: "puppy" %>
      </div>
    </div>
    <div class="all-features" id="pick">
      <div class="image-and-explanation">
        <%= image_tag "roar.png", id: "roar" %>
        <div class="explanation-text-problem">
          <h3>"Pour 75€ je fonce!!!"</h3>
          <p>Faites entendre votre voix. Comme-vous, certaines personnes aiment le produit mais ne sont pas prêtes à payer le prix demandé.</p>
          <div class="icon-header-body">
            <div class="icon-header">
              <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
              <h4>Pick</h4>
            </div>
            <p>L'idée derrière Seedlap? Rassembler les clients intéressés par un même produit et démontrer au vendeur qu'une modification de prix, en plus de satisfaire ses clients, lui sera profitable.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div  class= "all-features" id="save">
      <div class="image-and-explanation">
        <div class="explanation-text-problem">
          <h3>"Je ne paye plus que 70€"</h3>
          <p>C'est gagné</p>
          <div class="icon-header-body">
            <div class="icon-header">
              <i class="fa fa-money" aria-hidden="true"></i>
              <h4>Save</h4>
            </div>
            <p>Partagez vos meilleures découvertes avec nous, on a une idée qui va rendre tout le monde heureux.
            </p>
          </div>
        </div>
        <%= image_tag "victory.jpg", id: "victory" %>
      </div>
    </div>

  </div>
</div>





