<div class="container-home">
  <div class="nav-and-banner">
    <%= render "pages/unauthentified-navbar" %>
    <div class="banner-container">
      <h1 class="moto-centered">
        <div>Vous aimez une nouveauté ?</div>
        <div>Décidez de son prix</div>
      </h1>
      <div class="concept">
        <p>Seedlap est la première plateforme ou les clients
        décident des prix des produits qu'ils veulent acheter
        </p>
        <%= link_to seeds_path do %>
          <div class="btn join-us-now">
              Découvrir
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="boucing-icon text-right">
      <a href="#features">
        <i class="fa fa-arrow-circle-down bounce" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="how-it-works" id="features">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <h3>Share</h3>
          </div>
          <p class="text-center">Partagez vos meilleures découvertes avec nous
          </p>
          <p class="italic-statement">“J’aime ce produit, mais 90€…”</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            <h3>Pick</h3>
          </div>
          <p class="text-center">Magnifestez votre volonté d’achat
          </p>
          <p class="italic-statement">“Pour 75€ je fonce !”</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-money" aria-hidden="true"></i>
            <h3>Save</h3>
          </div>
          <p class="text-center">Faites des économies
          </p>
          <p class="italic-statement">“Je ne paye plus que 70€ !”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="problem-explained">
    <div class="problem-box">
      <h3>"Houston, we have a problem..."</h3>
      <h4>Tenté(e) par ce nouveau produit ou service, vous jugez son prix:</h4>
      <div class="row">
        <div class="col-xs-12 col-md-6 problem-case">
          <h5>(Un peu / Carrément ) trop élevé</h5>
          <p>Question de principe où de budget, vous renoncez à l’acheter.</p>
        </div>
        <div class="col-xs-12 col-md-6 problem-case">
          <h5>Curieusement bas</h5>
          <p>Trop beau pour être vrai, la qualité ne doit pas être au rdv... vous renoncez à l’acheter</p>
        </div>
      </div>

    </div>
  </div>

  <div class="image-and-explanation">
    <div class="image-container">
      <%= image_tag "problem.png", id: "problem" %>
    </div>
    <div class="explanation-text-black">
      <h3>"Tout le monde il est content"</h3>
      <p>Comme-vous, certains utilisateurs aiment le produit mais ne sont pas prêts à payer le prix demandé. Rassembler les clients intéressés par un même produit, demander quel prix déclencherait pour chacun l’acte d’achat, analyser ces retours pour déterminer le prix qui va satisfaire clients et vendeurs</p>
    </div>
  </div>


  <div class="image-and-explanation">
    <div class="explanation-text-black">
      <h3>"You are not alone"</h3>
      <p>Comme-vous, certains utilisateurs aiment le produit mais ne sont pas prêts à payer le prix demandé. Rassembler les clients intéressés par un même produit, demander quel prix déclencherait pour chacun l’acte d’achat, analyser ces retours pour déterminer le prix qui va satisfaire clients et vendeurs</p>
    </div>
    <div class="image-container">
      <%= image_tag "magnifest.png", id: "magnifest" %>
    </div>
  </div>
  <div class="image-and-explanation">
    <div class="image-container">
      <%= image_tag "magnifest.png", id: "magnifest" %>
    </div>
    <div class="explanation-text-black">
      <h3>"Tout le monde il est content"</h3>
      <p>Comme-vous, certains utilisateurs aiment le produit mais ne sont pas prêts à payer le prix demandé. Rassembler les clients intéressés par un même produit, demander quel prix déclencherait pour chacun l’acte d’achat, analyser ces retours pour déterminer le prix qui va satisfaire clients et vendeurs</p>
    </div>
  </div>


</div>





