
<div class="forgot-modal">
<!-- Modal -->
  <div class="modal fade" id="lostModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mot de passe oublié ?</h4>
        </div>
        <div class="modal-body">
          <p id="forgot-p">Saisissez <b>l'adresse email</b> que vous nous avez indiquée lors de votre inscription.
          <br>Nous allons vous envoyer un lien pour choisir un nouveau mot de passe.</p>
          <div class="pick-modal">
            <%= render "devise/passwords/reset-password"%>
          </div>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal-lost" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

<div class="container-home">
  <%= render 'cookies_eu/consent_banner' %>
  <div class="nav-and-banner" style="background-image: url('https://res.cloudinary.com/dlddnk3pr/image/upload/v1531593116/tags_n0uqhz.jpg')">
    <header class="header-home">
        <div class="logo-and-log">
          <%= image_tag "logo.png", id: "logo" %>
          <div class="right-links">
            <% if user_signed_in? %>
              <%= link_to "CONNEXION", seeds_path %>
            <% else %>
              <div class="hidden-xs hidden-sm connect-button">
                CONNEXION
              </div>
              <div class="connexion-xs hidden-md hidden-lg">
                <%= link_to new_user_session_path do%>
                  CONNEXION
                <% end %>
              </div>
            <% end %>
            <div class="log-in-home hidden">
              <%= render "devise/sessions/login" %>
            </div>
          </div>
        </div>
      </header>
    <div class="banner-container">
      <div class="banner-content">
        <h2>Vous décidez du prix</h2>
          <p class="concept">Proposez votre prix maximum
          <br>pour payer le prix minimum
          </p>
        <p class="promise hidden-xs">
          Sur Pickalgo, bénéficiez de la meilleure remise possible
       </p>
       <p class="promise hidden-sm hidden-md hidden-lg hidden-xl">
          Sur Pickalgo, bénéficiez
          <br>de la meilleure remise possible
       </p>
        <div class="cta-links">
          <a href="#features-container">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to seeds_path, class:"btn-orange cta-link" do %>
            Découvrir
          <% end %>
        </div>
      </div>
    </div>

  </div>


  <div id="features-container">
    <div class="icon-and-text" id="first">
      <div class="half top">
        <h3 class="quote">"190 € pour ce produit ?"</h3>
        <div class="quote-text">Nous avons tous une idée différente du prix maximum que nous sommes prêt à payer pour ce produit</div>
      </div>
      <div class="half">
        <%= image_tag "opinion.svg", class: "action-image" %>
        <div class="quote-text">Certains trouvent le prix original un peu, voire beaucoup trop élevé. D'autres le trouvent juste et abordable</div>
      </div>
    </div>
    <div class="icon-and-text" id="second">
      <div class="half top">
        <h3 class="quote">-"À 150 € j'achète"<br>-"Moi pour 140 €"</h3>
        <div class="quote-text">Ce produit vous plaÎt ? Faites une proposition d'achat du montant maximum que vous êtes prêt à payer</div>
      </div>
      <div class="half">
        <%= image_tag "choose.svg", class: "action-image" %>
        <div class="quote-text">
          Nous allons tenter de vous faire bénéficier d'un prix plus favorable que celui de votre proposition
        </div>
      </div>
    </div>
    <div class="icon-and-text" id="third">
      <div class="half top">
        <h3 class="quote">"Je ne paye plus que 130 € !"</h3>
        <div class="quote-text">
          Vos propositions nous permettent de<a href="#home-blue-background">
              <span class="go-to-how-it-works"><b>calculer la meilleure remise</b></span>
            </a>qu'il est présentement possible de vous accorder 
        </div>
      </div>
      <div class="half">
        <%= image_tag "successful_purchase.svg", class: "action-image" %>
        <div class="quote-text">
          Elles aident aussi le vendeur à comprendre ses clients et à ajuster à posteriori sa stratégie tarifaire
        </div>
      </div>
    </div>
  </div>

  <div id="home-blue-background">
    <div class="how-it-works">
      <h3>Eliminer la contrainte du prix
      <br>Mesurer la croissance des volumes
      <br>Répercuter les gains sur le prix</h3>
      <div class="steps">
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "gather.svg", class: "action-image" %>
          <div class="step-title">Rassembler</div>
          <div class="step-text">
            Nous collectons pendant 7 jours les propositions d'achat des personnes intéressées par le même produit
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "analyze.svg", class: "action-image" %>
          <div class="step-title">Calculer</div>
          <div class="step-text">
            Quel prix permet au plus grand nombre d'obtenir le produit et compense la remise accordée par une augmentation des ventes ?
          </div>
        </div>
        <div class="icon-and-text-no-shaddow">
          <%= image_tag "finalize.svg", class: "action-image" %>
          <div class="step-title">Finaliser</div>
          <div class="step-text">
            Si le montant de votre proposition est supérieur au prix remisé que nous avons calculé, vous remportez le deal !
          </div>
        </div>
      </div>
      <div class="conclusion-box">
        <h4 class="conclusion-title">
           Exemple :
        </h4>
        <div class="yes-no">
          <div class="outcome-and-text">
            <h5 class="outcome">"C'est gagné !"</h5>
            <ul style="padding-left: 0">
              <li>Vous proposiez de payer le produit 190 €</li>
              <li>Le prix remisé est de 150 €</li>
              <li>Vous obtenez le produit pour 150 €</li>
            </ul>
          </div>
          <div class="outcome-and-text">
            <h5 class="outcome">"Rien de perdu"</h5>
            <ul style="padding-left: 0">
              <li>Vous proposiez de payer le produit 145 €</li>
              <li>Le prix remisé est de 150 €</li>
              <li>Vous ne pouvez pas profiter du deal</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="testimonies-container">
      <div class="testimony-box">
        <h2>
          <span>Pourquoi Pickalgo ?</span>
        </h2>

        <div class="testimonies">
          <div class="testimony">
            <%= cl_image_tag @jorge.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jorge, founder de Pickalgo</h4>
            <div class="testimony-text">
              "Etablir une relation gagnant-gagnant avec les vendeurs du produits"
              <%= link_to "#firstTestimony", data: { toggle: "modal" } do%>
                <div class="expant-testimony">En savoir +</div>
              <% end %>
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @jenny.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jenny, founder de <a href="https://petitvoyou.com" target="_blank">PetitVoyou</a></h4>
            <div class="testimony-text">
              "Pickalgo nous aurait fait gagner du temps et de l'argent à mes clients et moi-même."
              <%= link_to "#secondTestimony", data: { toggle: "modal" } do%>
                <div class="expant-testimony">En savoir +</div>
              <% end %>
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @last.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Mr P, "oiseau précoce" de Pickalgo</h4>
            <div class="testimony-text">
              "Concept super original et malin, permet de découvrir et faire découvrir de vraies pépites."
            </div>
          </div>
        </div>
        <%= link_to seeds_path do %>
          <div class="cta">
            <div class="btn-orange">Découvrir</div>
          </div>
        <% end %>
      </div>
      <%= render 'testimony' %>
    </div>
    <%= render 'shared/footer' %>
  </div>

</div>












