<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dlddnk3pr/image/upload/v1510669930/wave_ifp56a.jpg');">
  <div class="banner-content">
    <h1>Seedoak</h1>
    <p>Découvrez et faites nous découvrir les meilleures nouveautés</p>
    <div class="enter">
      <div class="text-center">
        <%= link_to "Connectez-vous", seeds_path, class: "btn btn-success btn-lg " %>
      </div>
      <div class="text-center">
        <%= link_to "Inscrivez-vous", new_user_registration_path, class: "btn btn-warning btn-lg " %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <% @seeds.each do |seed| %>

    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path seed.photos.first.path%>');">
        <div class="card-category"> <%= seed.category.name %></div>
        <div class="card-description">
          <h2><%= seed.title %></h2>
        </div>

        <div class="seeder-id">

            <p><%= seed.user.pseudo %> </p>
            <% if seed.user.has_photo? %>
            <p> <%= cl_image_tag(seed.user.photo.path, class: "card-user")%> </p>
            <% end %>

        </div>
      </div>

    </div>

    <% end %>


  </div>
</div>

