
<div class="forgot-modal">
<!-- Modal -->
  <div class="modal fade" id="lostModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mot de passe oublié ?</h4>
        </div>
        <div class="modal-body">
          <p id="forgot-p">Saisissez <b>l'adresse email</b> que vous nous avez indiquée lors de votre inscription.
          <br>Nous allons vous envoyer un lien pour choisir un nouveau mot de passe.</p>
          <div class="pick-modal">
            <%= render "devise/passwords/reset-password"%>
          </div>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal-lost" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

<div class="container-home">
  <%= render 'cookies_eu/consent_banner' %>
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,0.8), rgba(241, 243, 247,0.8)), url('https://res.cloudinary.com/dlddnk3pr/image/upload/v1531593116/tags_n0uqhz.jpg');">
    <header class="header-home">
        <div class="logo-and-log">
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo" %><br>©Beta 2018
          </div>
          <div class="right-links">
            <% if user_signed_in? %>
              <%= link_to "CONNEXION", seeds_path %>
            <% else %>
              <div class="hidden-xs hidden-sm connect-button">
                CONNEXION
              </div>
              <div class="connexion-xs hidden-md hidden-lg">
                <%= link_to new_user_session_path do%>
                  CONNEXION
                <% end %>
              </div>
            <% end %>
            <div class="log-in-home hidden">
              <%= render "devise/sessions/login" %>
            </div>
          </div>
        </div>
      </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Devenez testeur de promos !</h1>
          <p class="concept">Avec Pickalgo, décidez vous-même du prix que devrait adopter une promo. Vous nous aidez ainsi à comprendre quel prix fera d'une promo une réussite pour ses clients et son vendeur. En retour, bénéficiez avant tout le monde des meilleures promos sur les produits qui vous plaisent.
          </p>
        <div class="cta-links">
          <a href="#features-container">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to seeds_path, class:"btn-orange cta-link" do %>
            Découvrir
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="how-it-works" id="features-container">
    <h3>Proposez votre prix maximum<br>Bénéficiez du prix minimum</h3>
    <div class="steps">
      <div class="icon-and-text-no-shaddow" id="first">
        <%= image_tag "opinion.svg", class: "action-image" %>
        <div class="quote">Vous réfléchissez</div>
        <div class="step-text">
          Déterminez votre prix plafond. A partir de quel montant la promo commencerait selon vous à être intéressante ?
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="second">
        <%= image_tag "choose.svg", class: "action-image" %>
        <div class="quote">Vous proposez</div>
        <div class="step-text">
          Vous avez 7 jours pour formuler une proposition d'achat correspondant au montant de votre prix plafond
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="third">
        <%= image_tag "analyze.svg", class: "action-image" %>
        <div class="quote">Nous calculons</div>
        <div class="step-text">
         Nous étudions toutes les propositions pour calculer la meilleure promo dont nous pouvons vous faire bénéficier
        </div>
      </div>
    </div>
  </div>
  <div class="conclusion">
    <h3>Exemple d'un produit à 200 €</h3>
    <div class="conclusion-cases">
      <div class="icon-and-text">
        <h3 class="quote">C'est gagné !</h3>
        <ul style="padding-left: 0">
          <li>Vous proposiez une promo à 180 €</li>
          <li>La promo obtimale calculée est à 140 €</li>
          <li>Vous obtenez le produit pour 140 €</li>
        </ul>
      </div>
      <div class="icon-and-text">
        <%= image_tag "successful_purchase.svg", class: "action-image" %>
      </div>
      <div class="icon-and-text">
        <h3 class="quote">Rien de perdu</h3>
        <ul style="padding-left: 0">
          <li>Vous proposiez une promo à 135 €</li>
          <li>La promo optimale calculée est de 140 €</li>
          <li>Vous ne pouvez pas profiter de la promo</li>
        </ul>
      </div>
    </div>
  </div>
    <div class="testimonies-container">
      <div class="testimony-box">
        <h2>
          <span>Pourquoi Pickalgo ?</span>
        </h2>

        <div class="testimonies">
          <div class="testimony">
            <%= cl_image_tag @jorge.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jorge, fondateur de Pickalgo</h4>
            <div class="testimony-text">
              "Aider les vendeurs à réussir leurs promos, et vous en faire bénéficier avant tout le monde"
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @jenny.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Jenny, fondatrice de <a href="https://petitvoyou.com" target="_blank">PetitVoyou</a></h4>
            <div class="testimony-text">
              "Avec Pickalgo tout le monde y gagne. Je n'envisagerai plus mes promos de la même façon"
            </div>
          </div>
          <div class="testimony">
            <%= cl_image_tag @last.photo.path, class: "user-photo" %>
            <h4 class="testimony-title">Mr P, "oiseau précoce" de Pickalgo</h4>
            <div class="testimony-text">
              "Utiliser mon avis pour mieux me satisfaire, ça c'est bonne idée !"
            </div>
          </div>
        </div>
        <%= link_to seeds_path do %>
          <div class="cta">
            <div class="btn-orange">Découvrir</div>
          </div>
        <% end %>
      </div>
      <%= render 'testimony' %>
    </div>
    <%= render 'shared/footer' %>
  </div>

</div>












