
<% if current_user %>
  <% unless @my_pick.blank? %>
    <div class="picked-bar-xs hidden-md hidden-lg">
      <% if  my_pick.state == "pending" %>
        <%= link_to new_pick_payment_path(my_pick) do %>
          <div class="has_picked">Mon pick : <%= my_pick.price %> €</div>
        <% end %>
      <% else %>
        <%= link_to pick_path(my_pick) do %>
          <div class="has_picked">Mon pick : <%= my_pick.price %> €</div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= link_to "#myModal", data: { toggle: "modal" }, class: "xs-pick" do%>
      <div class="pick-bar-xs hidden-md hidden-lg">
        <%= image_tag "my_picks.png", class: "pick-icon" %>
        <p>Pick it</p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <div class="pick-bar-xs hidden-md hidden-lg">
      <%= image_tag "my_picks.png", class: "pick-icon" %>
      <p>Pick it</p>
    </div>
  <% end %>
<% end %>
