 <% if current_user %>
  <%= render "seeds/pick-form" %>
  <%= render "shared/how-to-pick" %>
  <% if current_user.has_picked?(@seed) %>
    <div class="btn-blue">Mon pick : <%= Pick.my_pick(current_user, @seed).first.price%> € </div>
  <% else %>
    <%= link_to "#myModal", data: { toggle: "modal" } do%>
      <div class="btn-orange">
        <i class="fa fa-hand-lizard" aria-hidden="true"> </i>
        <p>Pick it</p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do  %>
    <div class="btn-orange">
      <i class="fa fa-hand-lizard" aria-hidden="true"> </i>
      <p>Pick it</p>
    </div>
  <% end %>
<% end %>

