
<% seeds.each do |seed| %>
<div class="product id-<%= seed.category_id%>">
    <div class='product-body'>
      <div class="head-seed">
        <%= link_to seed_path(seed) do  %>
          <h3> <%= seed.title %>: id <%= seed.id %></h3>
        <% end %>
      </div>

      <div class="bottom-sexion">
        <%= simple_form_for seed, :url => update_delivery_costs_seed_path(seed.id), :method => :patch do |f| %>
          <%= f.input_field :expedition_costs, placeholder: 'Exemple: 4.90'%>
          <%= f.button :submit, value: "Enregistrer", class: "validate-btn"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
