
  <div class="product id-<%= seed.category_id%>">

    <%= link_to seed_path(seed) do  %>
      <%= cl_image_tag("#{seed.photos.first.path}", :width=>115, :height=>115, :crop=>"fill", class: "product-image")%>
    <% end %>

    <div class='product-body'> <%= link_to seed_path(seed) do  %>
      <h3> <%= seed.title %></h3>
      <div class="user-testimony">
        <%= cl_image_tag(seed.user.photo.path, :crop=>"fit", class: "seeder-picture")%>
        <div class="user">
          <p id= "pseudo"> <%= seed.user.pseudo %> </p>
          <p class="hidden-xs hidden-sm" id="seed-description"> "<%= seed.description.first(65).capitalize + '... ' %>" </p>
          <p class="hidden-md hidden-lg" id="seed-description"> "<%= seed.description.first(15).capitalize + '... ' %>" </p>
        </div>
      </div>
      <% end %>

      <div class="bottom-sexion">
        <div class="product-category">
          <p class="<%= seed.category.name%>"> <%= seed.category.name.upcase %></p>
        </div>

        <div class="social-overview">
          <div class="icon-and-number">
            <div class="glyphicon glyphicon-eye-open"></div>
            <p><%= seed.view_counter%></p>
          </div>
          <div class="icon-and-number">
            <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            <p><%= seed.picks.count%></p>
          </div>
        </div>
      </div>

    </div>

  </div>


