<div class="product id-<%= seed.category_id%>">
  <%= link_to seed_path(seed) do  %>
    <%= cl_image_tag("#{seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "product-image")%>
  <% end %>
  <div class='product-body'> <%= link_to seed_path(seed) do  %>
    <h3> <%= seed.title.capitalize %></h3>
    <div class="user-testimony">
      <%if seed.user.has_photo? %>
      <%= cl_image_tag(seed.user.photo.path, class: "seeder-picture", :width=>110, :height=>110,)%>
      <% else %>
        <i class="fa fa-user"></i>
      <% end %>
      <div class="user">
        <p id= "pseudo"> <%= seed.user.pseudo %> </p>
        <p class="hidden-xs hidden-sm" id="seed-description"> "<%= seed.description.first(65).capitalize + '... ' %>" </p>
        <p class="hidden-md hidden-lg" id="seed-description"> "<%= seed.description.first(15).capitalize + '... ' %>" </p>
      </div>
    </div>
    <% end %>
    <div class="bottom-sexion">
      <div class="product-category">
        <p class="<%= seed.category.name.downcase.gsub('é', 'e')%>"> <%= seed.category.name %></p>
      </div>
      <div class="social-overview">
        <div class="icon-and-number">
          <div class="glyphicon glyphicon-eye-open"></div>
          <p><%= seed.view_counter%></p>
        </div>
        <div class="icon-and-number">
          <i class="fa fa-hand-lizard" aria-hidden="true"></i>
          <p class="seed-counter"><%= seed.picks.count%></p>
        </div>
      </div>
    </div>
  </div>
</div>






