

<div class="page-container">
  <div class="page-sections">
    <div class="all-cards">
      <%= link_to publish_seed_path, class: "admin-card" do %>
          <i class="filter-icon fas fa-hourglass-start"></i>
          <p>Publish (<%= @seeds %>)</p>
      <% end %>
      <%= link_to message_path, class: "admin-card" do %>
          <div class="filter-icon fa fa-envelope"></div>
          <p>Messages (<%= @picks.size %>)</p>
      <% end %>
      <%= link_to pending_path, class: "admin-card" do %>
          <div class="filter-icon fa fa-pause"></div>
          <p>Pending (<%= @pending.count %>)</p>
      <% end %>
      <%= link_to success_path, class: "admin-card" do %>
          <div class="filter-icon far fa-thumbs-up"></div>
          <p>Success</p>
      <% end %>
      <%= link_to fail_path, class: "admin-card" do %>
          <div class="filter-icon far fa-thumbs-down"></div>
          <p>Fail</p>
      <% end %>
      <%= link_to signaled_path, class: "admin-card" do %>
          <div class="filter-icon glyphicon glyphicon-exclamation-sign"></div>
          <p>Signaled (<%= @signaled.count %>)</p>
      <% end %>
      <%= link_to sidekiq_web_path, class: "admin-card" do %>
          <div class="filter-icon far fa-arrow-alt-circle-left"></div>
          <p>Sidekiq Jobs</p>
      <% end %>
    </div>
  </div>
</div>
