<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>

<div class="page-container">
  <div class="seed-feed">


    <div class="categories hidden-xs">

      <div class="filter-title">
        <div class="filter-header">
          <p>TRIER</p>
        </div>

        <div class="sub-categories">
          <%= link_to seeds_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-globe"></div>
              <p>Tous</p>
            </div>
          <% end %>
          <%= link_to popular_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-fire"></div>
              <p>Tendances</p>
            </div>
          <% end %>
          <%= link_to newest_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-leaf"></div>
              <p>Récents</p>
            </div>
          <% end %>
          <%= link_to last_day_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-flash"></div>
              <p>Dernier jour</p>
            </div>
          <% end %>
          <%= link_to seed_path(@seeds.sample) do %>
          <div class="sub-title">
            <div class="filter-icon glyphicon glyphicon-random"></div>
            <p>Hasard</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="filter-title">
        <div class="filter-header">
         <p>FILTRER</p>
         <%= link_to seeds_path do %>
          <i class="fa fa-toggle-on hidden" aria-hidden="true"></i>
         <% end %>
        </div>
        <div class="sub-categories">
          <% @categories.each do |category| %>
            <%= link_to seeds_path(category: category.id), remote: true do %>
              <div class="sub-title <%= category.id %>">
                <p><%= image_tag "categories.jpg", class: "categories-icon" %>
                </p>
                <p><%= category.name%>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="seed-presentation">
      <%= render @seeds, seeds: @seeds%>
    </div>


  </div>

</div>




