<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% @seeds.each do |seed| %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
              <div class='product-count'><%= seed.picks.size %>
            </div>
          </div>
          <%= link_to seed_path(seed) do  %>
            <%= cl_image_tag seed.photos.first.path, width: 300, height: 200, class: "product-image" %>
          <% end %>

          <div class='product-body'> <%= link_to seed_path(seed) do  %>
            <h3> <%= seed.title %></h3>
            <p>présenté par <%= cl_image_tag(seed.user.photo.path, class: "seeder-picture")%> <%= seed.user.pseudo %></p>
            <p> <%= seed.description%></p>
            <% end %>
          </div>

        </div>
      <% end %>

      <%= link_to "Créér un nouveau seed", new_seed_path, class: "btn btn-primary", id: "seed-suggestion-link"  %>
    </div>
  </div>
</div>





