<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>


  <div class="seed-feed">


    <div class="categories hidden-xs">
      <p id="categories-header"> <span class="glyphicon glyphicon-filter"></span>FILTRER </p>

      <div class="sub-categories">
        <% @categories.each do |category| %>
          <div class="sub-title <%= category.id %>">
            <p><%= image_tag "categories.jpg", class: "categories-icon" %>
            </p>
            <p><%= link_to category.name, seeds_path(category: category.id), remote: true %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="seed-presentation">
      <%= render @seeds, seeds: @seeds%>
      <%= render @seeds, seeds: @seeds%>
      <%= render @seeds, seeds: @seeds%>
    </div>

  </div>




