
<div class="container">
  <div class="row">

    <div class="col-xs-2">
        <div class="categories">
          <p id="categories-header">CATEGORIES</p>

          <div class="sub-categories">

          <% @categories.each do |category| %>

            <div class="sub-title <%= category.id %>">
              <p><%= image_tag "categories.jpg", class: "categories-icon" %></p>
              <p><%= link_to category.name, seeds_path(category: category.id), remote: true %></p>
            </div>

          <% end %>
          </div>
        </div>
      </div>


      <div class="col-xs-8">
        <div class="seed-presentation">
          <%= render @seeds, seeds: @seeds%>
        </div>
      </div>


      <div class="col-xs-2">
        <div class="add-seed">
          <%= link_to new_seed_path do  %>
            <%= image_tag "seed.svg", id: "add-seed" %>
          <% end %>
        </div>
      </div>



  <div>
</div>



