<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>


<div class="container">
  <div class="row">

    <div class="hidden-xs hidden-sm col-md-2">
        <div class="categories">
          <p id="categories-header">FILTRER</p>

          <div class="sub-categories">

          <% @categories.each do |category| %>

            <div class="sub-title <%= category.id %>">
              <p><%= image_tag "categories.jpg", class: "categories-icon" %></p>
              <p><%= link_to category.name, seeds_path(category: category.id), remote: true %></p>
            </div>

          <% end %>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-7">
        <div class="seed-presentation">
          <%= render @seeds, seeds: @seeds%>
          <%= render @seeds, seeds: @seeds%>
          <%= render @seeds, seeds: @seeds%>
        </div>
      </div>




      <div class="col-md-2">
        <%= render 'shared/newseed' %>
      </div>



  </div>
</div>



