
<div class="container">
  <% @seeds.each do |seed| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">

          <div class="product">
            <div class='product-upvote'>
              <div class="product-arrow"></div>
                <div class='product-count'><%= seed.picks.size %>
              </div>
            </div>
            <%= link_to seed_path(seed) do  %>
              <%= cl_image_tag seed.photos.first.path, class: "product-image" %>
            <% end %>

            <div class='product-body'> <%= link_to seed_path(seed) do  %>
              <h3> <%= seed.title %></h3>
              <p> <%= seed.category.name %> </p>
              <div class="user-testimony">
                <div class="user">
                <%= seed.user.pseudo %>
                <%= cl_image_tag(seed.user.photo.path, class: "seeder-picture")%>
                </div>
                <%= seed.description %>
              </div>
              <% end %>
            </div>

          </div>


      </div>
    </div>
  <% end %>
</div>

<%= link_to "Créér un nouveau seed", new_seed_path, class: "btn btn-primary", id: "seed-suggestion-link"  %>





