<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>

<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <div class="form-title">Ajouter un seed</div>
        <%= simple_form_for @seed do |b| %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="input-block">
                <%= b.input :title, label:"Titre", placeholder: "Exemple: Drone en mousse" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="input-block">
                <%= b.association :category, label:"Catégorie", prompt: "Selectionner une categorie"%>
              </div>
            </div>
          </div>

          <div class="input-block" id="description">
            <%= b.input :description,label:"Décrire le produit", placeholder: "Exemple: Ce drone ne risque pas de se casser car il est fait en mousse. Ideal pour la montagne." %>
          </div>
          <div class="input-block">
            <%= b.input :photos, as: :attachinary, label: false, class: "upload" %>
          </div>
          <div class="form-action">
          <%= b.submit value: "POSTER", class: "btn btn-primary" %>
          </div>
       <% end %>
       </div>
     </div>
  </div>
</div>





