
<div class="container">
  <div class="page-section">
        <div class="form-title">Ajouter un produit</div>
          <div class="form-post-seed">
            <%= simple_form_for @seed do |f| %>
            <div class="seeder-infos">
              <div class="row head">
                <div class="col-xs-12 col-sm-5 nopadding-right nopadding-left">
                  <div class="input-block">
                    <%= f.input :title, label:"Titre", placeholder: "Exemple: Drone en mousse" %>
                  </div>
                  <div class="input-block-price">
                    <%= f.input :price, label:"Prix original", placeholder: "exemple: 15", error: "Veuillez entrer un prix" %>
                    <span class="unit">€</span>
                  </div>
                  <div class="input-block">
                    <%= f.association :category, label:"Catégorie", prompt: "Selectionner une categorie", input_html: { data: { 'mode-category-id' => @mode_category_id } } %>
                  </div>
                  <div class="input-block size-guide-input">
                    <%= f.input :size_guide, label:"Guide des tailles", placeholder: "url du site / guide des tailles"%>
                    <p class= "size-explain">Pour tous les produits ou l'utilisateur doit choisir une taille (hommes femmes enfants animaux), merci de coller le lien vers le guide des tailles du vendeur.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-1 descirption-block">
                  <div class="input-block">
                    <%= f.input :official_description,label:"Court descriptif", placeholder: "Qu'est-ce que ce produit ? Principales carractéristiques ? Comment s'utilise t-il ? (cf. descriptif du vendeur)" %>
                  </div>
                  <div class="input-block" id="description">
                    <%= f.input :description,label:"Pourquoi appréciez-vous ce produit?", placeholder: "Exemple: Ce drône est juste top, je l'ai essayé, super autonomie, facilement rangeable, et clairement indestructible grace à ses rebords en mousse." %>
                  </div>
                </div>
              </div>
            </div>

            <div class="media-display">
              <div class="row head">
                <div class="col-xs-12 nopadding-right nopadding-left">
                  <div class="chooseFile">
                    <div><span class="glyphicon glyphicon-plus"></span>Ajouter des photos<span style="color: #ff6d43; font-size: 13px; font-weight: bold; margin-left: 10px;">(min-1 / max-5)</span></div>
                  </div>
                  <div class="input-block attach">
                    <%= f.input :photos, as: :attachinary, label: false, class: "upload" %>
                  </div>
                </div>
                <div class="col-xs-12 nopadding-right nopadding-left">
                  <div class="chooseVideo">
                    <div><span class="glyphicon glyphicon-plus"></span>Ajouter une vidéo</div>
                  </div>
                </div>
                <div class="from-group">
                  <div class="video-container cache">
                    <div class="col-xs-12 col-md-6 nopadding-right nopadding-left">
                      <div class="input-block video-block hidden">
                        <%= f.input :url, label: "Lien Youtube", placeholder: "coller ici l'url d'une video youtube" %>

                        <div class="media-preview hidden">
                          <iframe id="iframe" src="">
                          </iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="supplier-infos">
              <div class="row">
                <div class="help-us">
                  <div class="col-xs-12 col-sm-6 nopadding-right nopadding-left">
                    <div class="shop internet">
                      <div class="magn-left text-center">Informations vendeur</div>
                      <%= f.input :sale_point_url, label:"Site internet", placeholder: "http://www..." %>
                      <%= f.input :sale_point_contact, label:"Contact", placeholder: "email, téléphone..." %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-action">
            <%= f.submit value: "POSTER", class: "btn seedlap-danger" %>
            </div>
          <% end %>
        </div>
  </div>
</div>




