<% content_for :meta_title, "#{@seed.title} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Quel prix souhaitez-vous payer pour #{@seed.title} ?" %>
<% content_for :meta_image, cl_image_path(@seed.photos.first.path) %>


<%= render "shared/sub-navbar" %>
<div class="page-container">

  <div class="page-sections">
    <div class="header">
      <div class="title">
        <h1><%= @seed.title.capitalize %></h1>
      </div>
      <% if @seed.ongoing? %>
        <div class="timer-and-pick">
          <div class="seed-infos-timer">
            <div id="timer" data-timer="<%= (@seed.expiration) %>">
              <%= render "seeds/timer"  %>
              <div id="clockdiv">
                <div class="dynamic-timer">
                  <div class="smalltext">Jours</div>
                  <span class="days"></span>
                </div>
                <div class="dynamic-timer">
                  <div class="smalltext">Heures</div>
                  <span class="hours"></span>
                </div>
                <div class="dynamic-timer">
                  <div class="smalltext">Minutes</div>
                  <span class="minutes"></span>
                </div>
                <div class="dynamic-timer">
                  <div class="smalltext">Secondes</div>
                  <span class="seconds"></span>
                </div>
              </div>
            </div>
          </div>
            <div class="pick-section hidden-xs">
              <%= render "seeds/pick-section" %>
            </div>
        </div>
      <% end %>
    </div>


    <div class="pick-modal">
    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= @seed.title %> </h4>
            </div>
            <div class="modal-body">
              <div class="pick-modal">
                <%= render "seeds/pick-form"%>
              </div>
            </div>
            <div class="modal-footer hidden">
              <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row body">
      <div class="col-xs-12 col-md-7 nopadding-left nopadding-right">
        <div class="left-section">
          <div class="seed-media">
            <div class="seed-photos">
              <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">

                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <% turns = @seed.photos.size - 1 %>
                  <% slide_index = 1 %>
                  <% if @seed.photos.size > 1 %>
                    <% turns.times do  %>
                      <li data-target="#myCarousel" data-slide-to="<%= slide_index%>"></li>
                      <% slide_index += 1 %>
                    <% end %>
                  <% end %>
                  <% unless @seed.url.blank? %>
                    <li data-target="#myCarousel" data-slide-to="<%= turns + 1%>"></li>
                  <% end %>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                <% photos = @seed.extract_seed_photos %>
                  <div class="item active">
                    <a href="<%= cl_image_path photos.first.path %>" class="swipebox" title="<%= @seed.title %>">
                      <%= cl_image_tag photos.first.path, :height=>300, :crop=>"scale", class:"img-seed" %>
                    </a>
                  </div>
                  <% if photos.size >= 2 %>
                    <% photos.delete_at(0) %>
                    <% photos.each do |photo| %>
                      <div class="item">
                        <a href="<%= cl_image_path photo.path %>" class="swipebox" title="<%= @seed.title %>">
                          <%= cl_image_tag photo.path, :height=>300, :crop=>"scale", class:"img-seed" %>
                        </a>
                      </div>
                    <% end %>
                  <% end %>
                  <% unless @seed.url.blank? %>
                    <div class="item">
                      <div class="video-container">
                        <iframe frameborder="0 class="video" src="<%= @seed.url.gsub('watch?v=', 'embed/') %>" allowfullscreen></iframe>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="seed-social">
              <div class="social-category">
                <div class="media-filter-icon glyphicon glyphicon-eye-open"></div>
                <p><%=@seed.view_counter%></p>
              </div>
              <div class="social-category">
                <div class="media-filter-icon glyphicon glyphicon-euro"></div>
                <p><%= @seed.price %></p>
              </div>
              <% if @seed.admin_review == "not-reviewed" %>
                <div class="social-category">
                  <div class="signal">
                    <%= render "signal_seeds/signal" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="seeder">
            <div class="seeder-show">
              <%if @seeder.has_photo? %>
              <%= cl_image_tag(@seeder.photo.path, :width=>110, :height=>110, class: "seeder-picture-big")%>
              <% else %>
                <i class="fa fa-user"></i>
              <% end %>
              <div class="user-show">
                <p id= "pseudo-bold"> <%= @seeder.pseudo %>
                </p>
                <p class="post-date">Posté le <%= @seed.created_at.strftime("%d/%m/%y")%></p>
                <% if @seeder.social_card? %>
                  <p id="social_card_link">Infos</p>
                <% end %>
              </div>
              <div class="personal-description">
                <h4>Le mot du seeder</h4>
                <p class="descriptif-content"><%= @seed.description.capitalize %></p>
              </div>
            </div>
            <div class="social-card-user">
              <% if @seeder.mini_bio? %>
                <div class="mini-bio">
                  <p><b>Mini-bio :</b>
                    <br><%= @seeder.mini_bio.capitalize %></p>
                </div>
              <% end %>
              <% if @seeder.social_links? %>
                <p style="margin:0;"><b>Suivre :</b></p>
                <div class="social-group">
                  <% if @seed.user.insta?  %>
                    <div class="icon-and-pseudo">
                      <%= image_tag "instagram.png" %>
                      <p class="seeder-media"><%= @seeder.insta %></p>
                    </div>
                  <% end %>
                  <% if @seeder.youtube? %>
                    <div class="icon-and-pseudo">
                      <%= image_tag "youtube.png" %>
                      <p class="seeder-media"><%= @seeder.youtube %></p>
                    </div>
                  <% end %>
                  <% if @seeder.twitter? %>
                    <div class="icon-and-pseudo">
                      <%= image_tag "twitter.png" %>
                      <p class="seeder-media"><%= @seeder.twitter %></p>
                    </div>
                  <% end %>
                  <% if @seeder.facebook? %>
                    <div class="icon-and-pseudo">
                      <%= image_tag "facebook.png" %>
                      <p class="seeder-media"><%= @seeder.facebook %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <% if @seeder.seeder_other_seeds? %>
                <p id="other_posts_link">Autres posts</p>
                <div class="other_posts">
                  <% @seeder.seeder_other_seeds_list(@seed).each do |seed| %>
                    <%= link_to "#{seed.title}", seed_path(seed) %>
                    <br>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 official-description">
        <h2 class="description-title">
          Descirption
        </h2>
        <div class="descritpion-text">
          <%= @seed.official_description.capitalize %>
        </div>
          <a href="<%= @seed.sale_point_url %>" class="internet-site" target="_blank">
            <div class="img-background">
              <%= image_tag "website.png", class:"link-img" %>
            </div>
            <div class="display-link">
              <h5>Plus d'infos</h5>
            </div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <% if @seed.ongoing? %>
            <div class="pick-section">
              <%= render "seeds/pick-section" %>
            </div>
          <% end %>
      </div>




    </div>
  </div>
</div>
<%= render 'shared/footer' %>


<div class="pick-container-xs">
  <%= render "seeds/pick-section-xs" %>
</div>








