<h1>Seeds#show</h1>
<p><%= @seed.title %></p>
<p><%= @seed.description %></p>
<% @seed.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<h2>
<%= pluralize @seed.picks.size, "pick" %>
</h2>




  <% collections = [] %>
  <% @user.picks.each do |pick| %>
  <% collections << pick.seed.id  %>
  <% end %>

  <% if collections.include? @seed.id %>
    <p> <%= "Vous avez déjà pické"  %> </p>
  <% else %>
    <%= simple_form_for [@seed, @pick], url: seed_picks_path(@seed), :method => :post do |f| %>
      <p><strong>Prix :</strong></p>
      <%= f.input_field :price, as: :integer, class: 'input-sm form-control', id: 'start' %>
      <%= f.submit "Enregistrer mon pick", class: "btn btn-success" %>
    <% end %>
  <% end %>

  <p><%= link_to "Retour", seeds_path %></p>


 <% if @seed.picks.size > 0 %>
  <ul>
    <% @seed.picks.each do |pick| %>
      <li>
        <%= pick.price  %>
      </li>
    <% end %>
  </ul>
<% end %>








