<% content_for :meta_title, "#{@seed.title} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Quel prix souhaitez-vous payer pour #{@seed.title} ?" %>
<% content_for :meta_image, cl_image_path(@seed.photos.first.path) %>

<%= render "shared/sub-navbar" %>
<div class="page-container">

  <div class="page-sections">

    <div class="header">
      <div class="title">
        <h1><%= @seed.title %></h1>
      </div>
      <div class="row head">
        <div class="col-xs-12 col-sm-7 nopadding-right nopadding-left">
          <% if @seed.ongoing? %>
            <div class="timer-and-pick">
              <div class="seed-infos-timer">
                <div id="timer" data-timer="<%= (@seed.expiration) %>">
                  <%= render "seeds/timer"  %>
                  <div id="clockdiv">
                    <div class="dynamic-timer">
                      <div class="smalltext">Jours</div>
                      <span class="days"></span>
                    </div>
                    <div class="dynamic-timer">
                      <div class="smalltext">Heures</div>
                      <span class="hours"></span>
                    </div>
                    <div class="dynamic-timer">
                      <div class="smalltext">Minutes</div>
                      <span class="minutes"></span>
                    </div>
                    <div class="dynamic-timer">
                      <div class="smalltext">Secondes</div>
                      <span class="seconds"></span>
                    </div>
                  </div>
                </div>
              </div>
                <div class="pick-section hidden-xs">
                  <%= render "seeds/pick-section" %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="pick-modal">
    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= @seed.title %> </h4>
            </div>
            <div class="modal-body">
              <div class="pick-modal">
                <%= render "seeds/pick-form"%>
              </div>
            </div>
            <div class="modal-footer hidden">
              <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row body">

      <div class="col-xs-12 col-sm-7 nopadding-left nopadding-right">
        <div class="left-section">
          <div class="seed-media">
            <div class="seed-photos">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <% turns = @seed.photos.size - 1 %>
                  <% slide_index = 1 %>
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <% if @seed.photos.size > 1 %>
                    <% turns.times do  %>
                      <li data-target="#myCarousel" data-slide-to="<%= slide_index%>"></li>
                      <% slide_index += 1 %>
                    <% end %>
                  <% end %>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" style=" width:100%;">
                <% photos = @seed.extract_seed_photos %>
                  <div class="item active">
                    <a href="<%= cl_image_path photos.first.path %>" class="swipebox" title="<%= @seed.title %>">
                      <div class="hidden-xs">
                        <%= cl_image_tag photos.first.path, :height=>300, :crop=>"scale" %>
                      </div>
                      <div class="hidden-sm hidden-md hidden-lg">
                        <%= cl_image_tag photos.first.path, :height=>150, :crop=>"scale" %>
                      </div>
                    </a>
                  </div>

                  <% if photos.size >= 2 %>
                    <% photos.delete_at(0) %>
                    <% photos.each_with_index do |photo, i| %>
                      <div class="item">
                        <a href="<%= cl_image_path photo.path %>" class="swipebox" title="<%= @seed.title %>">
                          <div class="hidden-xs">
                             <%= cl_image_tag photo.path, :height=>300, :crop=>"scale" %>
                           </div>
                           <div class="hidden-sm hidden-md hidden-lg">
                             <%= cl_image_tag photo.path, :height=>150, :crop=>"scale" %>
                           </div>
                        </a>
                      </div>

                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="seed-social">
              <div class="social-category">
                <div class="media-filter-icon glyphicon glyphicon-eye-open"></div>
                <p><%=@seed.view_counter%></p>
              </div>
              <div class="social-category">
                <div class="media-filter-icon glyphicon glyphicon-euro"></div>
                <p><%= @seed.price %></p>
              </div>
              <% if @seed.admin_review == "not-reviewed" %>
                <div class="social-category">
                  <div class="signal">
                    <%= render "signal_seeds/signal" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="show-seed-description">
            <div class="seeder">
              <%if @seeder.has_photo? %>
              <%= cl_image_tag(@seeder.photo.path, class: "seeder-picture-big")%>
              <% else %>
                <i class="fa fa-user"></i>
              <% end %>
              <div class="user-show">
                <p id= "pseudo-bold"> <%= @seeder.pseudo %>
                </p>
                <p class="post-date">Posté le <%= @seed.created_at.strftime("%d/%m/%y")%></p>
                <% if @seeder.seeder_other_seeds? %>
                  <p id="other_posts_link">Autres posts</p>
                  <div class="other_posts">
                    <% @seeder.seeder_other_seeds_list(@seed).each do |seed| %>
                    <p><%= link_to "#{seed.title}", seed_path(seed) %></p>
                    <% end %>
                  </div>
                <% end %>
                <div class="social-card-user">
                  <% if @seeder.mini_bio? %>
                    <div class="mini-bio">
                      <p><%= @seeder.mini_bio %></p>
                    </div>
                  <% end %>
                  <% if @seeder.social_links? %>
                    <div class="col-xs-12 social-group">
                      <p>Qui m'aime me suive !</p>
                      <% if @seed.user.insta?  %>
                        <div class="col-xs-6 col-md-3 kill-padding">
                          <div class="icon-and-pseudo">
                          <%= image_tag "instagram.png" %>
                          <p><%= @seeder.insta %></p>
                        </div>
                        </div>
                      <% end %>
                      <% if @seeder.youtube? %>
                        <div class="col-xs-6 col-md-3 kill-padding">
                          <div class="icon-and-pseudo">
                          <%= image_tag "youtube.png" %>
                          <p><%= @seeder.youtube %></p>
                        </div>
                        </div>
                      <% end %>
                      <% if @seeder.snap? %>
                        <div class="col-xs-6 col-md-3 kill-padding">
                          <div class="icon-and-pseudo">
                          <%= image_tag "snapchat.png" %>
                          <p><%= @seeder.snap %></p>
                        </div>
                        </div>
                      <% end %>
                      <% if @seeder.facebook? %>
                        <div class="col-xs-6 col-md-3 kill-padding">
                          <div class="icon-and-pseudo">
                          <%= image_tag "facebook.png" %>
                          <p><%= @seeder.facebook %></p>
                        </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#avis"><h5>AVIS PERSONNEL</h5></a></li>
                <li><a href="#descriptif"><h5>DESCRIPTIF OFFICIEL</h5></a></li>
            </ul>
            <div class="tab-content">
              <div id="avis" class="tab-pane fade in active">
                <p class="descriptif-content"><%= @seed.description %></p>
              </div>
              <div id="descriptif" class="tab-pane fade">
                <p class="descriptif-content"><%= @seed.official_description %></p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <% if (@seed.url != "") || (@seed.secondary_url != "") %>
        <div class="col-xs-12 col-sm-5 nopadding-left nopadding-right">
          <div class="right-section">
            <% if @seed.url != "" %>
              <div class="video-container">
                <iframe allowfullscreen class="video" src="<%= @seed.url.gsub('watch?v=', 'embed/') %>"
                      frameborder="0">
                </iframe>
              </div>
          <% end %>
          <% if @seed.secondary_url != "" %>
            <div class="video-container">
              <iframe allowfullscreen class="video" src="<%= @seed.secondary_url.gsub('watch?v=', 'embed/') %>"
                    frameborder="0">
              </iframe>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>




    </div>
  </div>

</div>

<div class="pick-container-xs">
  <%= render "seeds/pick-section-xs" %>
</div>








