<div class="pick-container">
  <%= link_to seed_path(pick.seed) do  %>
    <%= cl_image_tag("#{pick.seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "pick-image")%>
  <% end %>
  <div class="pick-body">
    <div class="title-delete-price">
      <div class="title-and-delete">
        <%= link_to seed_path(pick.seed) do  %>
            <h3><%= pick.seed.title %></h3>
        <% end %>
        <% if pick.seed.ongoing? %>
          <%= link_to pick_path(pick.id), method: :delete, remote: true do %>
            <i class="fa fa-times-circle"></i>
          <% end %>
        <% end %>
      </div>
      <p>Prix original: <%= pick.seed.price %>€</p>
    </div>
    <div class="price-pick">
      <div class="pick-state">
        <p class="price-display">Pické pour <%= pick.price %>€</p>
      <% if pick.seed.ongoing? %>
        <%= link_to "#myPick-#{pick.id}", data: {toggle: "modal"} do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>


  <% if pick.state == "pending" && pick.seed.ongoing? %>
    <div class="campaign-status pick-pending">
      Vous avez jusqu'au <%= pick.seed.expiration.strftime("%d/%m/%Y") %> pour finaliser votre pick.
      <div class="payment-link">
        <%= link_to new_pick_payment_path(pick) do %>
          <div class="btn">Finaliser pick</div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="campaign-status pick-other">
      <% case pick.state when "finalized" %>
        <div>Finalisé</div>
      <% when "pending" %>
        <div>Pick expiré</div>
      <% when "campaign_failed" %>
        <div>Campagne échouée</div>
      <% when "pick_failed" %>
        <div>Pick échoué</div>
      <% when "campaign_closed" %>
        <div>Campagne fermée</div>
      <% when "refunded" %>
        <div>Remboursé</div>
      <% when "cancelled" %>
        <div>Annulé</div>
      <% when "paid" %>
        <div>En attente</div>
      <% end %>
      <div class="payment-recap">
        <%= link_to pick_path(pick) do %>
          <div class="btn">Détails</div>
        <% end %>
      </div>
    </div>
  <% end %>


