<h3>Découvrez Seedoak</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="sex-attributes">
  <%= f.collection_radio_buttons :sex, [["man", 'Homme'] ,["woman", 'Femme']], :first, :last %>
  </div>

  <%= f.text_field :pseudo, placeholder: 'Pseudo' %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.password_field :password, placeholder: 'Mot de passe' %>
  <%= f.submit "Rejoignez-nous", class: 'btn btn-primary' %>
<% end %>
