<div class="container-home">

  <header class="header-home">
    <div class="logo-and-log">
      <div class="logo-box">
        <div id="logo-home">Seedoak</div>
        <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
      </div>
      <div class="log-in-home">
        <%= render "devise/sessions/login" %>
      </div>
    </div>
  </header>

  <div class="banner-content">
    <div class="enter">
      <h2>Première visite?</h2>
      <div class="form-space">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.text_field :pseudo, placeholder: 'Pseudo' %>
          <%= f.email_field :email, placeholder: 'Email' %>
          <%= f.password_field :password, placeholder: 'Mot de passe' %>
          <%= f.password_field :password_confirmation, placeholder: 'Confirmer mot de passe' %>
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
