<div class="container-home">

  <header class="header-home">
    <div class="logo-and-log">
      <div class="logo-box">
        <div id="logo-home">Seedoak</div>
        <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
      </div>
      <div class="log-in-home hidden-xs hidden-sm">
        <%= render "devise/sessions/login" %>
      </div>
    </div>
  </header>

  <div class="banner-content">
    <div class="enter">
      <div class="teaser-seedoak hidden-xs hidden-sm">
        <h2>Une expérience d'achat inédite</h2>
        <p class="moto">Découvrez et faites découvrir les meilleures nouveautés</p>
      </div>
      <div class="form-space hidden-xs hidden-sm">
        <%= render "devise/sessions/sign-up" %>
      </div>

      <div class="hidden-md hidden-lg" id="action-xs">
        <h2>Une expérience d'achat inédite</h2>
        <p class="moto">Découvrez et faites découvrir les meilleures nouveautés</p>
        <div class="action-buttons">
          <div class="btn btn-primary" id= "sign-in">Connexion</div>
          <div class="btn btn-warning" id= "sign-up">Inscription</div>
        </div>
      </div>

      <div class="form-xs hidden">
        <div class="form-login-xs hidden">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <%= render "devise/sessions/login" %>
        </div>
        <div class="form-sign-up-xs hidden">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <%= render "devise/sessions/sign-up" %>
        </div>
      </div>

    </div>

    <div class="bottom-images">
      <div class="small-tree-image">
        <%= cl_image_tag("acorn-t_mwydjr.png", :height=>100, :crop=>"scale") %>
      </div>
      <div class="small-tree-image">
        <%= cl_image_tag("small-tree_kebaln.png", :height=>200, :crop=>"scale") %>
      </div>
      <div class="seed-image">
        <%= cl_image_tag("tree2_rckrqz.png", :height=>300, :crop=>"scale") %>
      </div>
    </div>

  </div>

</div>
