<div class="container-home">
  <header class="header-home">
    <div class="logo-box">
      <div id="logo-home">Seedoak</div>
      <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
    </div>
    <div class="log-in-home">
      <%= render "devise/sessions/login" %>
    </div>
  </header>
  <div class="banner-content">
    <div class="enter">
      <div class="container" id="new-user-session">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <h2>Première visite?</h2>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div><%= f.label :pseudo %><br />
                <%= f.text_field :pseudo %></div>

                <div><%= f.label :email %><br />
                <%= f.email_field :email %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %></div>

                <div><%= f.submit "Sign up" %></div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homer-footer">
    <p>T</p>
  </div>
</div>
