<div class="sign-container" id="new-user-session">
  <div class="row">
    <div class="sign-form col-xs-12 col-md-4 col-md-offset-4">
        <h2>Me connecter</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, label: 'Mot de passe' %>
            <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Connexion" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
