<%= simple_form_for customer_address, :url => address_path(customer_address), :method => :patch, remote: true do |f| %>
    <h3>Livraison</h3>
    <div class="info-and-inputs">
      <div class="info-detail">Renseignez l'adresse à laquelle vous souhaitez être livré en cas d'acceptation de votre proposition d'achat par le vendeur.
      </div>
      <div class="inputs">
        <div class="input-and-icon">
          <i class="fa fa-user left-icon"></i>
          <div class="fields-address">
            <%= f.input :first_name, class: "input-group-field", placeholder: "Prénom", label: false %>
            <%= f.input :last_name, class: "input-group-field", placeholder: "Nom", label: false %>
          </div>
        </div>

        <div class="input-and-icon">
          <i class="fa fa-truck left-icon"></i>
          <div class="fields-address">
            <%= f.input :street, class: "input-group-field", placeholder: "Numéro et rue", label: false %>
            <div class="zip-city">
              <%= f.input :zip_code, class: "input-group-field", placeholder: "Code Postal", label: false %>
              <%= f.input :city, class: "input-group-field", placeholder: "Ville", label: false %>
            </div>
            <%= f.input :address_complement, class: "input-group-field", label: false, placeholder: "Autres instructions de livraison: Digicode, Batiment, Société " %>
          </div>
        </div>

        <div class="input-and-icon">
          <i class="fa fa-mobile-alt left-icon"></i>
          <%= f.input :phone_number, class: "input-group-field", label: false, placeholder: "Vous joindre par téléphone" %>
        </div>
      </div>
      <div class="update-address-button">
        <%= f.button :submit, value: "Enregistrer", class: "btn update-delivery-infos hidden" %>
      </div>
    </div>
<% end %>
