
 <script src="https://js.stripe.com/v3/"></script>
 <div class="paiement-container">
  <div class="booking-confirmation">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 booking-form">
        <div class="head">
          <h2>Confirmer participation au deal</h2>
          <div class="title-and-validation">
            <h3>Récap</h3>
            <div class="explanation">
              <%= cl_image_tag @pick.seed.photos.first.path, :height=>75, :crop=>"scale" %>
              <div class="explanation-paragraph">
                <h4><%= @pick.seed.title %></h4>
                <p>Prix original: <%= @pick.seed.price %> €</p>
                <p class="picked">Votre pick: <%= @pick.price %> €
                </p>
              </div>
            </div>
            <div class="acompt-detail">Le versement d'un acompte de <%= humanized_money_with_symbol(@pick.amount)%> vous est demandé pour bloquer votre participation. Il vous sera remboursé à la fin de la campagne.
            </div>
          </div>
        </div>
        <div class="stripe-infos">
          <div class="user-update-form">
            <% if  @user.addresses.any? %>
              <%= render "payments/address", customer_address: @customer_address %>
              <% else %>
              <%= render "payments/create-address", customer_address: @customer_address %>
            <% end %>
          </div>
          <% if  @customer_infos %>
            <div id="update-customer-stripe">
              <%= render "payments/card", customer_infos: @customer_infos %>
            </div>
            <%= form_tag pick_payments_path(@pick), class: "stp", id: "payment-form" do %>
              <div class="form-row">
                <label for="card-element">
                  Carte de paiement
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>
              <div class="cgu-reminder">En validant ma participation, je déclare avoir pris connaissance et accepté sans réserve les CGU et CGV</div>
              <button class="booking-button" id="validate-paiement">
                <i class="fa fa-lock"></i>
                <p>Confirmer participation</p>
              </button>
            <% end %>
          <% end %>
        </div>
        <div class="loader-container hidden">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    // Create a token or display an error when the form is submitted.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the customer that there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          $(".booking-link").addClass("hidden");
          $(".loader-container").removeClass("hidden").html("<div class='loader'></div>");
          stripeTokenHandler(result.token);
        }
      });
    });
    function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();

    }
    </script>
  <% end %>


