
 <div class="paiement-container">
  <div class="booking-confirmation">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 booking-form">
        <div class="head">
          <h2>Confirmer participation au deal</h2>
          <div class="title-and-validation">
            <h3>Récap</h3>
            <div class="explanation">
              <%= cl_image_tag @pick.seed.photos.first.path, :height=>75, :crop=>"scale" %>
              <div class="explanation-paragraph">
                <h4><%= @pick.seed.title %></h4>
                <p>Prix original: <%= @pick.seed.price %> €</p>
                <p class="picked">Votre pick: <%= @pick.price %> €
                </p>
              </div>
            </div>
            <div class="acompt-detail">Le versement d'un acompte de <%= humanized_money_with_symbol(@pick.amount)%> vous est demandé pour bloquer votre participation. Il vous sera remboursé à la fin de la campagne.</div>
          </div>
        </div>
        <% if current_user.customer_id.blank? %>
          <div class="new-user-form">
            <%= form_tag pick_payments_path(@pick), class: "hidden" do %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Seedlap"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-email="<%= current_user.email %>"
                data-description="<%= @pick.seed.title %>"
                data-amount="<%= @pick.amount_cents %>"
                data-currency="<%= @pick.amount.currency %>"
                data-locale="auto"
                data-billing-address="true"
                data-allow-remember-me="false"
                data-label="Procéder au versement">
              </script>
            <% end %>
          </div>
          <div class="booking-link">
            <p>En validant ma participation, je déclare avoir pris connaissance et accepté sans réserve les CGU et CGV</p>
            <div class="book new-user-book">
              <i class="fa fa-lock"></i>
              <p>Confirmer participation</p>
            </div>
          </div>
        <% else %>
          <div class="stripe-infos">
            <div class="user-update-form">
              <%= render "payments/address", customer_address: @customer_address %>
            </div>
            <div id="update-customer-stripe">
              <%= render "payments/card", customer_infos: @customer_infos %>
            </div>
          </div>
          <div class="booking-link">
            <p>En validant ma participation, je déclare avoir pris connaissance et accepté sans réserve les CGU et CGV</p>
            <%= link_to pick_payments_path(@pick), class: "btn book waiting",  method: :post do %>
              <i class="fa fa-lock"></i>
              <p>Confirmer participation</p>
            <% end %>
          </div>
          <div class="loader-container hidden">
          </div>

          <%= form_tag update_card_user_path(@user), method: :patch, class: "hidden" do %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-key="pk_test_vLvpA9ucqPkcgXW1QQIQdnUA"
              data-name="Infos paiement"
              data-email="<%= current_user.email %>"
              data-panel-label="Modifier ma carte"
              data-label="Modifier ma carte"
              data-allow-remember-me=false
              data-locale="auto">
            </script>
          <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


