 <div class="page-container">
  <div class="booking-confirmation">
    <h1>Confirmer participation au deal</h1>

    <% if current_user.customer_id.blank? %>
      <%= form_tag pick_payments_path(@pick) do %>
        <article>
          <label class="amount">
            <span>Un versement de <%= humanized_money_with_symbol(@pick.amount)%> vous est demandé pour bloquer votre participation au deal</span>

          </label>
        </article>

        <p>Ce versement vous sera retourné si votre pick n'est pas validé</p>
        <p>Vous serez débité du différetiel avec votre pick en cas de succès</p>

        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="<%= @pick.seed.title %>"
          data-email="<%= current_user.email %>"
          data-description="<%= @pick.seed.title %>"
          data-amount="<%= @pick.amount_cents %>"
          data-currency="<%= @pick.amount.currency %>"
          data-label="Procéder au versement">
        </script>
      <% end %>

    <% else %>
      <%= link_to "Procéder au versement", pick_payments_path(@pick), method: :post %>

    <% end %>


  </div>
</div>
