
<%= link_to seed_path(pick.seed) do  %>
  <%= cl_image_tag("#{pick.seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "product-image")%>
<% end %>
<div class="product-body">
  <%= link_to seed_path(pick.seed) do  %>
    <div class="title-pick-date">
      <h3> <%= pick.seed.title %></h3>
      <p class="price-display">Pické pour <%= pick.price %>€</p>
    </div>
  <% end %>
  <div class="price-pick">
    <% if pick.state == "pending" %>

    <div class="pick-state">

    <%= link_to "#myPick-#{pick.id}", data: {toggle: "modal"} do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

      <%= link_to pick_path(pick.id), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
    <% else %>
      <div class="pick-state">
        <% case pick.state when "finalized" %>
          <div>Finalized</div>
        <% when "paid" %>
          <div>Paid</div>
        <% when "campaign_failed" %>
          <div>Campaign_failed</div>
        <% when "pick_failed" %>
          <div>Pick_failed</div>
        <% when "campaign_closed" %>
          <div>Campaign closed</div>
        <% when "refunded" %>
          <div>Refunded</div>
        <% when "cancelled" %>
          <div>Cancelled</div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>



<% if pick.state == "pending" %>
  <div class="payment-link">
    <%= link_to new_pick_payment_path(pick) do %>
      <div class="btn btn-primary">Finaliser pick</div>
    <% end %>
  </div>
<% else %>
  <div class="payment-recap">
    <%= link_to pick_path(pick) do %>
      <div class="btn btn-warning">Détails</div>
    <% end %>
  </div>
<% end %>

