
<%= link_to seed_path(pick.seed) do  %>
  <%= cl_image_tag("#{pick.seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "product-image")%>
<% end %>
<div class='product-body'> <%= link_to seed_path(pick.seed) do  %>
  <h3> <%= pick.seed.title %></h3>
  <p>Pické le <%= pick.created_at.strftime("%d/%m/%y")%></p>
  <div class="price-pick">
    <p class="price-display"><%= pick.price %>€</p>
    <% if pick.seed.ongoing? %>

    <%= link_to "#myPick-#{pick.id}", data: {toggle: "modal"} do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

      <%= link_to pick_path(pick.id), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>

<% end %>
</div>

<% if pick.state == "pending" %>
  <div class="payment-link">
    <%= link_to new_pick_payment_path(pick) do %>
      <div class="btn btn-primary">Finaliser pick</div>
    <% end %>
  </div>
<% else %>
  <div class="payment-recap">
    <%= link_to pick_path(pick) do %>
      <% case pick.state when "finalized" %>
        <div class="btn btn-warning">Finalized</div>
      <% when "paid" %>
        <div class="btn btn-warning">Paid</div>
      <% when "campaign_failed" %>
        <div class="btn btn-warning">Campaign_failed</div>
      <% when "pick_failed" %>
        <div class="btn btn-warning">Pick_failed</div>
      <% when "campaign_closed" %>
        <div class="btn btn-warning">Campaign closed</div>
      <% when "refunded" %>
        <div class="btn btn-warning">Refunded</div>
      <% when "cancelled" %>
        <div class="btn btn-warning">Cancelled</div>
      <% end %>
    <% end %>
  </div>
<% end %>

