
<%= link_to seed_path(pick.seed) do  %>
  <%= cl_image_tag("#{pick.seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "product-image")%>
<% end %>
<div class='product-body'> <%= link_to seed_path(pick.seed) do  %>
  <h3> <%= pick.seed.title %></h3>
  <p>Pické le <%= pick.created_at.strftime("%d/%m/%y")%></p>
  <div class="price-pick">
    <p class="price-display"><%= pick.price %>€</p>
    <% if pick.seed.ongoing? %>

    <%= link_to "#myPick-#{pick.id}", data: {toggle: "modal"} do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

      <%= link_to pick_path(pick.id), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>

<% end %>
</div>

