<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>


<div class="page-container">
  <div class="pick-feed">
    <%if @seeds.any? %>
      <div class="seed-presentation">
        <h2>Historique de vos picks</h2>
        <% @seeds.each do |seed| %>
          <div class="product id-<%= seed.category_id%>">
            <%= link_to seed_path(seed) do  %>
              <%= cl_image_tag("#{seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "product-image")%>
            <% end %>
            <div class='product-body'> <%= link_to seed_path(seed) do  %>
              <h3> <%= seed.title %></h3>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
