

<div class="container">
  <div class="row">
    <h1>My picks</h1>
    <p>L'historique de vos picks</p>

    <% @picks.each do |pick| %>
      <div class="product">

          <div class='product-upvote'>
            <div class="product-arrow"></div>

              <div class='product-count'><%= pick.seed.picks.size %> </div>
      </div>
       <%  seed = pick.seed  %>
       <%= link_to seed_path(seed) do  %>
        <%= cl_image_tag seed.photos.first.path, width: 300, height: 200, class: "product-image" %>
        <% end %>

          <div class='product-body'> <%= link_to seed_path(seed) do  %>
            <h3> <%= seed.title %></h3>
            <p>présenté par <%= cl_image_tag(seed.user.photo.path, class: "seeder-picture")%> <%= seed.user.pseudo %></p>
            <p> <%= seed.description%></p>
            <% end %>
          </div>

     </div>
    <% end %>
  </div>
</div>
