


<div class="pick-container">
  <%= link_to seed_path(pick.seed) do  %>
    <%= cl_image_tag("#{pick.seed.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "pick-image")%>
  <% end %>
  <div class="pick-body">
    <div class="title-delete-price">
      <div class="title-and-delete">
        <%= link_to seed_path(pick.seed) do  %>
            <h3><%= pick.seed.title.capitalize %></h3>
        <% end %>
        <% if pick.seed.ongoing? %>
          <%= link_to "#destroyPick-#{pick.id}", data: {toggle: "modal"} do %>
            <i class="fa fa-times-circle"></i>
          <% end %>
        <% end %>
      </div>
      <p>Prix original: <%= pick.seed.price %>€</p>
    </div>
    <div class="price-pick">
      <div class="pick-state">
        <p class="price-display">Pické pour <%= pick.price %>€</p>
      <% if pick.seed.ongoing? %>
        <%= link_to "#myPick-#{pick.id}", data: {toggle: "modal"} do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>


  <% if pick.state == "pending" && pick.seed.ongoing? %>
    <div class="campaign-status pick-pending">
      Fin de la campagne: <%= pick.seed.expiration.strftime("%d/%m/%Y") %>.
      <div class="payment-link">
        <%= link_to new_pick_payment_path(pick) do %>
          <div class="btn-orange">Finaliser pick</div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="pick-other">
      <% case pick.state when "finalized" %>
        <div class= "status-overview">Succès</div>
      <% when "pending" %>
        <div class= "status-overview">Pick expiré</div>
      <% when "campaign_failed" %>
        <div class= "status-overview">Campagne échouée</div>
      <% when "pick_failed" %>
        <div class= "status-overview">Pick échoué</div>
      <% when "campaign_closed" %>
        <div class= "status-overview">Campagne fermée</div>
      <% when "cancelled" %>
        <div class= "status-overview">Campagne annulée</div>
      <% when "refund_failed" %>
        <div class= "status-overview">Erreur</div>
      <% when "error" %>
        <div class= "status-overview">Erreur</div>
      <% when "validated" %>
        <div class= "status-overview">En attente</div>
      <% end %>
      <div class="payment-recap">
        <%= link_to pick_path(pick) do %>
          <div class="btn-white">Détails</div>
        <% end %>
      </div>
    </div>
  <% end %>


