<% case pick.state when "validated" %>
  <div>
    <h4>En attente</h4>
    <div class="status-text">Vous avez bien enregistré votre participation à la camapagne d'achat. Celle-ci se termine le <%= pick.seed.expiration.strftime("%d/%m/%Y") %>, et vous saurez à ce moment si votre proposition d'achat de <%= pick.price %> € a été retenue.</div>
  </div>
  <% when "finalized" %>
  <div>
    <h4>Finalisé</h4>
    <div class="status-text">Votre pick est un succès. Vous avez été débité(e) d'un total de <%= pick.seed.campaign.price  + pick.seed.expedition_costs %> € qui comprend <%= pick.seed.campaign.price %> € pour le produit (prix négocié par Pickalgo), ansi que <%= pick.seed.expedition_costs %> €  au titre des frais de transport.</div>
  </div>
  <% when "campaign_failed" %>
  <div>
    <h4>Echec</h4>
    <div class="status-text">Vous avez pické pour <%= pick.price %>€. Le vendeur n'a malheureusement pas voulu faire de deal avec nous. </div>
  </div>
  <% when "campaign_closed" %>
  <div>
    <h4>Campagne terminée</h4>
    <div class="status-text">Vous avez pické <%= pick.seed.title %> pour <%= pick.price %>€ mais n'avez pas bloqué votre participation à la campagne qui est maintenant fermée. Pensez-y la prochaine fois.</div>
  </div>
  <% when "pending" %>
  <div>
    <h4>Campagne terminée</h4>
    <div class="status-text">Vous avez pické <%= pick.seed.title %> pour <%= pick.price %>€ mais n'avez pas bloqué votre participation à la campagne qui est maintenant fermée. Pensez-y la prochaine fois.</div>
  </div>
  <% when "cancelled" %>
  <div>
    <h4>Campagne annulée</h4>
    <div class="status-text">Vous avez pické <%= pick.seed.title %> pour <%= pick.price %>€. Nous avons fermé la campagne car le produit ne respecte pas les CGU. </div>
  </div>
  <% when "error" %>
  <div>
    <h4>Erreur</h4>
    <div class="status-text">Vous avez pické <%= pick.seed.title %> pour <%= pick.price %>€ mais nous n'avons pas réussi à valider le paiement final. Merci de mettre à jour votre carte de paiement</div>
    <div class="link-container">
      <%= link_to "Mettre à jour", edit_pick_path(pick), class: 'edit-card-link' %>
    </div>
  </div>
  <% when "refund_failed" %>
  <div>
    <h4>Erreur</h4>
    <div class="status-text">Nous avons recontré un problème lors du remboursement que nous voulions effectuer. Merci de prendre contact avec un administrateur: contact@pickalgo.com </div>
  </div>
  <% when "pick_failed" %>
  <div>
    <h4>Echec</h4>
    <div class="status-text">Vous avez pické <%= pick.seed.title %> pour <%= pick.price %>€. Le prix Pickalgo négocié est de <%= pick.seed.campaign.price %>€, vous ne pouvez pas bénéficier du deal. </div>
  </div>
<% end %>
