<h5>Livraison</h5>
<div class="address-input"><%= pick.first_name %> <%= pick.last_name %></div>
<div class="address-input"><%= pick.street %></div>
<div class="address-input"><%= pick.zip_code %> <%= pick.city %></div>
<% unless pick.address_complement.blank? %>
  <div class="address-input"><%= pick.address_complement %></div>
<% end %>
<% unless  pick.phone_number.blank? %>
  <div class="address-input"><%= pick.phone_number %></div>
<% end %>
