
<div class="page-container">
  <div class="pick-content">
  <div class="title-and-export">
    <h2><%= @seed.title %></h2>
    <div class="export-link"><%= link_to "Export CSV", seed_picks_path(id: @seed, format: :csv) %>
    </div>
  </div>
  <h4>Stats</h4>
  <p><%= @seed.picks.count %> picks</p>
  <p><%= @seed.view_counter %> vues</p>
  <p>Taux de transfo: <%= ((@seed.picks.count)*100 / (@seed.view_counter)) %>%</p>
    <div class="pick-data">

      <div class="column text-center">
        <h4>Picker</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.pseudo %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>Email</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.email %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>First-name</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.first_name %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>Last-name</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.last_name %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>Address</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.address %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>Sex</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.sex %></p>
        <% end %>
      </div>

      <div class="column text-center">
        <h4>Birthdate</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.user.date_of_birth %></p>
        <% end %>
      </div>

      <div class="column last text-center">
        <h4>Price</h4>
        <% @seed.picks.each do |pick| %>
          <p><%= pick.price %></p>
        <% end %>
      </div>

    </div>
   </div>
</div>

