<%= render 'shared/sub-navbar' %>
<div class="page-container">
  <div class="pick-feed">
    <%if @picks.any? %>
      <div class="pick-presentation">
        <h2>Vos picks</h2>
        <div class="pending-and-all">
          <div class="pick-menu left-menu" id="selected-menu">A valider</div>
          <%= link_to pick_history_path do%>
            <div class="pick-menu right-menu">Historique</div>
          <% end %>
        </div>
        <% @picks.each do |pick| %>
          <% if pick.seed.ongoing? %>
            <%= render "picks/edit-form", seed: pick.seed, pick: pick %>
            <%= render "picks/destroy-pick-modal", pick: pick %>
          <% end %>
          <div class="pick-iterate id-<%= pick.id%>">
          <%= render "picks/pick-history", pick: pick %>
          </div>
        <% end %>
      </div>
      <% else %>
        <div class="pick-feed">
          <div class="pick-presentation">
            <h2>Vos picks</h2>
            <div class="pending-and-all">
              <div class="pick-menu left-menu" id="selected-menu-bis">A valider</div>
              <%= link_to pick_history_path do%>
                <div class="pick-menu right-menu">Historique</div>
              <% end %>
            </div>
            <p class="no-picks-yet">Pas de picks à finaliser</p>

          </div>
        </div>

    <% end %>

  </div>
</div>
