<%= render 'shared/sub-navbar' %>
<div class="page-container">
  <div class="pick-feed">
    <%if @picks.any? %>
      <div class="pick-presentation">
        <h2>Vos picks</h2>
        <div class="pending-and-all">
          <%= link_to my_picks_path do %>
            <div class="pick-menu left-menu">A valider</div>
          <% end %>
          <div class="pick-menu right-menu" id="selected-menu">Historique</div>
        </div>
        <div class="pick-infinite">
          <div id="infinite-scrolling">
            <%= will_paginate @picks %>
          </div>
        <%= render @picks%>
      </div>
      </div>
      <% else %>
        <div class="pick-feed">
          <div class="pick-presentation">
            <h2>Vos picks</h2>
            <div class="pending-and-all">
              <%= link_to my_picks_path do %>
                <div class="pick-menu left-menu">A valider</div>
              <% end %>
              <div class="pick-menu right-menu" id="selected-menu-bis">Historique</div>
            </div>
            <p class="no-picks-yet">Vous n'avez encore rien pické jusqu'à présent</p>

            <div class="index-path">
              <%= link_to seeds_path do %>
                <div class="btn btn-default">Y remédier</div>
              <% end %>
            </div>

          </div>
        </div>

    <% end %>

  </div>
</div>


