
<div class="sub-container hidden-xs">
  <div class="sub-nav">
    <%= link_to seeds_path do %>
      <div class="cat selected">
        <div class="filter-icon glyphicon glyphicon-globe"></div>
        <p>Tous</p>
      </div>
    <% end %>
    <%= link_to popular_path do %>
      <div class="cat">
        <div class="filter-icon glyphicon glyphicon-fire"></div>
        <p>Tendances</p>
      </div>
    <% end %>
    <%= link_to newest_path do %>
      <div class="cat">
        <div class="filter-icon glyphicon glyphicon-leaf"></div>
        <p>Récents</p>
      </div>
    <% end %>
    <%= link_to last_day_path do %>
      <div class="cat">
        <div class="filter-icon glyphicon glyphicon-flash"></div>
        <p>Dernier jour</p>
      </div>
    <% end %>
    <%= link_to seed_path(@sample) do %>
    <div class="cat">
      <div class="filter-icon glyphicon glyphicon-random"></div>
      <p>Hasard</p>
    </div>
    <% end %>
  </div>
</div>


<div class="pick-details-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 pick-detail">
      <h2  class="pick-title"><%= @pick.seed.title %></h2>
      <%= render 'picks/pick-status', pick: @pick %>
      <% if @customer_infos %>
        <div class="ship-and-payment">
          <div class="item ship">
            <%= render 'picks/show_address', pick: @pick  %>
          </div>
          <div class="item payment">
            <h3>Paiement</h3>
            <div class="card-input"><%= @customer_infos["brand"]%></div>
            <div class="card-input card-numbers">
              **** **** **** <%= @customer_infos["last4"] %>
            </div>
            <div class="card-input">
              <%= @customer_infos["exp_month"]%>/<%= @customer_infos["exp_year"] %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="exchanges-and-questions">
          <div class="exchange-header">
            <%= image_tag "speech-bubble.png", class:"speech-img" %>
            <p>Une question ?</p>
          </div>
          <div id="exchange_form">
            <%= render 'exchanges/form', pick: @pick, exchange: @exchange %>
          </div>
          <div id="exchanges">
            <% unless @exchanges.blank? %>
              <div class="all-messages">
                <% @exchanges.each do |exchange| %>
                  <div class="message-block <%= exchange.message_author %>">
                    <div class="avatar-author-date">
                      <%if exchange.user.photo? %>
                        <%= cl_image_tag exchange.user.photo.path, class: "author-avatar pic"%>
                      <% else %>
                        <i class="fa fa-user dropdown-toggle" class="author-avatar"></i>
                      <% end %>
                      <div class="author-and-date">
                        <div class="message-sent"><%= exchange.created_at.strftime("%d/%m/%Y") %>
                        </div>
                        <div class="user-pseudo">
                          <%= exchange.user.pseudo %>:
                        </div>
                      </div>
                    </div>
                    <div class="question-content">
                      <%= exchange.question %>
                    </div>
                  </div>
                <% end %>
              </div>
              <% else %>
              <div class="all-messages hidden"></div>
            <% end %>
          </div>
          <% if current_user.admin == true && @pick.exchanges.any? %>
            <div class="validate-link">
              <p>Toutes les questions client ont trouvé une réponse?</p>
              <%= link_to exchange_path(@pick.exchanges.last), :method => :patch do%>
                <div class="btn btn-default">Oui</div>
              <% end %>
            </div>
          <% end %>
      </div>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
