
<% seeds.each do |seed| %>
<div class="product id-<%= seed.category_id%>">
    <div class='product-body'>
      <div class="head-seed">
        <%= link_to seed_path(seed) do  %>
          <h3> <%= seed.title %>: id <%= seed.id %></h3>
        <% end %>
        <div class="export-link"><%= link_to "Export CSV", seed_picks_path(seed_id: seed, format: :csv) %>
        </div>
      </div>

      <div class="bottom-sexion">
        <div class="product-category">
          <%= simple_form_for seed.campaign do |f| %>
            <%= f.collection_radio_buttons :status, [["success", 'Success'] ,["fail", 'Fail']], :first, :last %>
            <%= f.input :price, label:"Prix négocié en €", placeholder: "exemple: 15"%>
            <%= f.button :submit, value: "Enregistrer"%>
          <% end %>
        </div>
        <div class="right-icons">
          <div class="signal-box">
            <%= image_tag "gray-icon.png", class: "pending pick-icon" %>
            <p>Picks</p>
            <p class="action-count">(<%= seed.picks.count%>)</p>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>


