

<div class="page-container">

  <div class="seed-feed">
    <div class="categories hidden-xs">
      <div class="filter-title">
        <div class="sub-categories">
          <%= link_to admin_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-globe"></div>
              <p>Dashboard</p>
            </div>
          <% end %>
          <%= link_to message_path do %>
            <div class="sub-title">
              <div class="filter-icon fa fa-envelope"></div>
              <p>Messages</p>
            </div>
          <% end %>
          <%= link_to pending_path do %>
            <div class="selected-category">
              <div class="filter-icon fa fa-pause"></div>
              <p>Pending (<%= @seeds.count %>)</p>
            </div>
          <% end %>
          <%= link_to success_path do %>
            <div class="sub-title">
              <div class="filter-icon far fa-thumbs-up"></div>
              <p>Success</p>
            </div>
          <% end %>
          <%= link_to fail_path do %>
            <div class="sub-title">
              <div class="filter-icon far fa-thumbs-down"></div>
              <p>Fail</p>
            </div>
          <% end %>
          <%= link_to signaled_path do %>
            <div class="sub-title">
              <div class="filter-icon glyphicon glyphicon-exclamation-sign"></div>
              <p>Signaled</p>
            </div>
          <% end %>
          <%= link_to sidekiq_web_path do %>
            <div class="sub-title">
              <div class="filter-icon far fa-arrow-alt-circle-left"></div>
              <p>Sidekiq Jobs</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="seed-presentation">
      <h1>Admin dashboard > Pending</h1>
      <% @seeds.each do |seed| %>
      <div class="product id-<%= seed.category_id%>">
          <div class='product-body'>
            <div class="head-seed">
              <%= link_to seed_path(seed) do  %>
                <h3> <%= seed.title %>: id <%= seed.id %></h3>
              <% end %>
              <div class="export-link"><%= link_to "Export CSV", seed_picks_path(seed_id: seed, format: :csv) %>
              </div>
            </div>

            <div class="bottom-sexion">
              <div class="product-category">
                <%= simple_form_for seed.campaign do |f| %>
                  <%= f.collection_radio_buttons :status, [["success", 'Success'] ,["fail", 'Fail']], :first, :last %>
                  <%= f.input :price, label:"Prix négocié en €", placeholder: "exemple: 15"%>
                  <%= f.button :submit, value: "Enregistrer"%>
                <% end %>
              </div>
              <div class="right-icons">
                <div class="signal-box">
                  <div class="media-filter-icon fa fa-hand-lizard"></div>
                  <p>Picks</p>
                  <p class="action-count">(<%= seed.picks.count%>)</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
