

<div class="page-container">
  <div class="seed-feed">
    <div class="seed-presentation">
      <div class="link-and-title">
        <%= link_to admin_path do %>
          <div>
            <i class= "far fa-arrow-alt-circle-left"></i>
            Admin-dashbord
          </div>
        <% end %>
        <h1>Signaled</h1>
      </div>
      <% @seeds.each do |seed| %>
      <div class="product id-<%= seed.category_id%>">
          <div class='product-body'>
            <div class="head-seed">
            <%= link_to seed_path(seed) do  %>
              <h3> <%= seed.title %>: id <%= seed.id %></h3>
            <% end %>
            <div class="right-icons">
              <div class="signal-box">
                <div class="media-filter-icon fa fa-hand-lizard"></div>
                <p>Picks</p>
                <p class="action-count">(<%= seed.picks.count%>)</p>
              </div>
              <div class="signal-box">
                <div class="media-filter-icon glyphicon glyphicon-exclamation-sign"></div>
                <p>Signalements</p>
                <p class="action-count">(<%= seed.signal_seed.count%>)</p>
              </div>
            </div>
            </div>

            <div class="bottom-sexion">
              <div class="product-category">
                <%= simple_form_for seed do |f| %>
                  <%= f.collection_radio_buttons :admin_review, [["Valide", 'Valider'] ,["Invalide", 'Rejetter']], :first, :last %>
                  <%= f.button :submit, value: "Enregistrer"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
