<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

    <title>Seedlap</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield(:header) %>
  </head>
  <body>
    <% if controller_name == "my_seedlap" || controller_name == "users"%>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sub-navbar' %>
    <% elsif controller_name == "payments" || controller_name == "campaigns" %>
      <%= render "shared/minimal-navbar" %>
    <% else %>
      <% unless  controller_name == "pages"%>
        <%= render "shared/navbar" %>
      <% end %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%#= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
