<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115055409-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115055409-1');
    </script>


    <title>Seedlap - Décidez du prix des meilleures nouveautés</title>
  <meta name="description" content="Seedlap révolutionne la façon dont les clients achètent... et les vendeurs vendent !">
  <meta property="og:title" content="Seedlap - Décidez du prix des meilleures nouveautés">
    <meta property="og:image" content="goal.png">
    <meta property="og:description" content="Seedlap révolutionne la façon dont les clients achètent... découvrez le concept sur Seedlap">
    <meta property="og:site_name" content="Seedlap"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield(:header) %>
  </head>
  <body>
    <% if controller_name == "my_seedlap" || controller_name == "users"%>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sub-navbar' %>
    <% elsif controller_name == "payments" || controller_name == "campaigns" %>
      <%= render "shared/minimal-navbar" %>
    <% else %>
      <% unless  controller_name == "pages"%>
        <%= render "shared/navbar" %>
      <% end %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%#= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
